openapi: 3.0.3
info:
  title: Custom Workflows
  description: Run your pre-configured custom workflows to generate company or industry reports in your specific format.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/workflow_manager/start/:
    post:
      tags:
      - Workflow Automation
      summary: Custom Workflows
      description: Run your pre-configured custom workflows to generate company or industry reports in your specific format.
      operationId: post_workflow_manager_custom_workflows
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: '[FROM EXAMPLE — not in formal docs schema] Report identifier returned when the workflow request succeeds.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example: &id001
                  report_id: 123345
              example: *id001
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Invalid payload. search query is required.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomWorkflowRequest'
            example:
              workflow: industry_custom_fc44748
              industry_research_topic: Electric vehicles
      security:
      - bearerAuth: []
tags:
- name: Workflow Automation
  description: Workflow-driven report generation endpoints.
components:
  schemas:
    CustomWorkflowRequest:
      type: object
      properties:
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        workflow:
          type: string
          description: Your workflow ID from the dashboard URL (e.g., `comp_research_f312g` from *app.wokelo.ai/dashboard/workflows/comp\_research\_f312g/*)User-defined custom workflow ID from the dashboard URL.
          pattern: ^(?!company_primer$|industry_primer$|player_comparison$).+
        permalink:
          type: string
          description: Crunchbase permalink of the company. Required for company-based workflows.
        website:
          type: string
          description: Website of the company. Required for company-based workflows.
        industry_research_topic:
          type: string
          description: '`For company workflows`: Company''s industry (optional—leaves blank to use Wokelo''s auto-detected industry) `For industry workflows`: Industry to analyze (required)'
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report—use `fileName` values from the upload response
      description: '[FROM OFFICIAL DOCS] Custom Workflow variant using a dashboard workflow ID such as `industry_custom_fc44748`.'
      required:
      - workflow
      example:
        workflow: industry_custom_fc44748
        industry_research_topic: Electric vehicles
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
