openapi: 3.0.3
info:
  title: Notebook Configuration
  description: Retrieves and returns the settings you originally configured while initiating the report.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/wkl/notebook/configuration/:
    post:
      tags:
      - Supporting APIs
      summary: Notebook Configuration
      description: Retrieves and returns the settings you originally configured while initiating the report.
      operationId: post_api_wkl_notebook_configuration
      responses:
        '200':
          description: Notebook configuration returned successfully
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Notebook configuration object. The docs describe this as the original workflow configuration and do not formalize the shape.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notebook_id:
                  type: integer
                  description: Report ID of the notebook for which the configuration is to be retrieved
              description: '[FROM OFFICIAL DOCS] Request schema from notebook-configuration.md.'
              required:
              - notebook_id
            example:
              notebook_id: 103737
      security:
      - bearerAuth: []
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
