openapi: 3.0.3
info:
  title: Peer Comparison
  description: Generates a comprehensive comparison of up to 5 companies. The report
    analyzes multiple dimensions including company fundamentals and firmographics,
    product offerings and business models, employee reviews and satisfaction, hiring
    trends and workforce data, and online presence and market visibility.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/workflow_manager/start/:
    post:
      tags:
      - Workflow Automation
      summary: Peer Comparison
      description: Generates a comprehensive comparison of up to 5 companies. The
        report analyzes multiple dimensions including company fundamentals and firmographics,
        product offerings and business models, employee reviews and satisfaction,
        hiring trends and workforce data, and online presence and market visibility.
      operationId: post_workflow_manager_peer_comparison
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: "[FROM EXAMPLE \u2014 not in formal docs schema]\
                      \ Report identifier returned when the workflow request succeeds."
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example: &id001
                  report_id: 123345
              example: *id001
        '400':
          description: Company primer
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Invalid payload. search query is required.
      x-source-variants:
      - group_path: Workflow Automation
        request_name: Company Research
      - group_path: Workflow Automation
        request_name: Industry Research
      - group_path: Workflow Automation
        request_name: Peer comparison
      - group_path: Workflow Automation
        request_name: Custom Workflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeerComparisonRequest'
            example:
              workflow: player_comparison
              websites:
              - stripe.com
              - paypal.com
              workbook_name: Test report
      security:
      - bearerAuth: []
tags:
- name: Workflow Automation
  description: Workflow-driven report generation endpoints.
components:
  schemas:
    PeerComparisonRequest:
      type: object
      properties:
        workflow:
          type: string
          description: '`player_comparison`'
          enum:
          - player_comparison
        websites:
          type: array
          items:
            type: string
          description: Array of company websites to compare
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
      description: '[FROM OFFICIAL DOCS] Peer Comparison variant with workflow=`player_comparison`.'
      required:
      - workflow
      - websites
      example:
        workflow: player_comparison
        websites:
        - stripe.com
        - paypal.com
        workbook_name: Test report
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
