openapi: 3.0.3
info:
  title: Employee Reviews
  description: Retrieves paginated employee reviews for a specified company, supporting
    configurable result limits and offsets for efficient data navigation. Returns
    a structured list of product reviews.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/company/employee-reviews/:
    get:
      tags:
      - Enrichment
      summary: Employee Reviews
      description: 'Source docs: employee-reviews.md'
      operationId: get_api_enterprise_company_employee-reviews
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      company:
                        type: string
                      overview:
                        type: object
                        properties:
                          rating:
                            type: number
                          business_outlook_rating:
                            type: number
                          ceo_rating:
                            type: number
                          recommend_to_friend_rating:
                            type: number
                          compensation_and_benefits_rating:
                            type: number
                          culture_and_values_rating:
                            type: integer
                          diversity_and_inclusion_rating:
                            type: number
                          senior_management_rating:
                            type: number
                          work_life_balance_rating:
                            type: number
                        required:
                        - rating
                        - business_outlook_rating
                        - ceo_rating
                        - recommend_to_friend_rating
                        - compensation_and_benefits_rating
                        - culture_and_values_rating
                        - diversity_and_inclusion_rating
                        - senior_management_rating
                        - work_life_balance_rating
                    required:
                    - company
                    - overview
                required:
                - status
                - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example
                  in employee-reviews.md.'
              example:
                status: success
                data:
                  company: salesforce
                  overview:
                    rating: 4.1
                    business_outlook_rating: 0.71
                    ceo_rating: 0.82
                    recommend_to_friend_rating: 0.8
                    compensation_and_benefits_rating: 4.4
                    culture_and_values_rating: 4
                    diversity_and_inclusion_rating: 4.2
                    senior_management_rating: 3.6
                    work_life_balance_rating: 3.9
      x-source-variants:
      - group_path: Enrichment
        request_name: Employee Reviews
      parameters:
      - name: company
        in: query
        required: true
        schema:
          type: string
        description: Permalink of the company whose employee reviews need to be fetched
          E.g. `"salesforce"`
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of employee reviews to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Number of records to skip before starting to return results
      security:
      - bearerAuth: []
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
