openapi: 3.0.3
info:
  title: Company Instant Enrichment
  description: The Company Enrichment API delivers structured data for one or more
    companies across sections such as firmographics, products, funding, headcount,
    and more. Optionally, you can customize the output by specifying which sections
    to include and defining custom fields with your own prompts. Returns request\_id
    as a response.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/company/enrich/:
    post:
      tags:
      - Enrichment
      summary: Company Instant Enrichment
      description: The Company Enrichment API delivers structured data for one or
        more companies across sections such as firmographics, products, funding, headcount,
        and more. Optionally, you can customize the output by specifying which sections
        to include and defining custom fields with your own prompts. Returns request\_id
        as a response.
      operationId: post_company_instant_enrichment
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: "[FROM EXAMPLE \u2014 not in formal docs schema]\
                      \ Request identifier returned when the enrichment job is accepted."
                  status:
                    type: string
                    description: "[FROM EXAMPLE \u2014 not in formal docs schema]\
                      \ Async processing status returned with the request identifier."
                description: '[FROM OFFICIAL DOCS] Response schema from company-deep-intelligence.md.'
                example: &id001
                  request_id: 3c945250-a3e8-4673-b342-2ceb03af5b02
                  status: PENDING
              example: *id001
        '202':
          description: Company Enrichment- 202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: 931643e9-b6c7-45d4-9ba9-bd3b534221e7
                status: PENDING
        '400':
          description: Company Enrichment- 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  invalid:
                    type: array
                    items:
                      type: string
                required:
                - error
                - invalid
              example:
                error: Invalid companies not found in database
                invalid:
                - Tesla
      x-source-variants:
      - group_path: Enrichment
        request_name: Company Instant Enrichment
      - group_path: Enrichment
        request_name: Company Deep Intelligence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInstantEnrichmentRequest'
            example:
              companies:
              - tesla-motors
              - stripe
              sections:
              - firmographics
              - products
              - funding
      security:
      - bearerAuth: []
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  schemas:
    CompanyInstantEnrichmentRequest:
      type: object
      properties:
        companies:
          type: array
          items:
            type: string
          description: List of permalinks/ URLs of the companies to enrich E.g. `"tesla-motors"`,
            `"stripe"` OR `"https://tesla.com"`
        sections:
          type: array
          items:
            type: string
            enum:
            - firmographics
            - products
            - headcount
            - funding
            - public_company_financials
            - uk_private_company_financials
            - acquisitions
            - investments
            - website_traffic
          description: 'Sections of data to include in the enrichment. Supported values:
            `firmographics`, `products`, `headcount`, `funding`, `public_company_financials`,
            `uk_private_company_financials`, `acquisitions`, `investments`, `website_traffic`
            Default: all'
          minItems: 1
        parameters:
          type: object
          properties:
            custom_fields:
              type: array
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Name of the custom field. Required if `custom_fields`
                      is used.
                  type:
                    type: string
                    description: 'Data type of the field (e.g. `text`). Supported
                      values: `text`. Required if `custom_fields` is used.'
                  prompt:
                    type: string
                    description: Prompt used to generate the custom field value. Required
                      if `custom_fields` is used.
              description: List of custom fields to compute for each company
      description: '[FROM OFFICIAL DOCS] Instant Enrichment variant using the instant-enrichment
        `sections` vocabulary.'
      required:
      - companies
      - sections
      example:
        companies:
        - tesla-motors
        - stripe
        sections:
        - firmographics
        - products
        - funding
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
