openapi: 3.0.3
info:
  title: Buyer Screening
  description: The Buyer Screening API generates a long list of potential buyers for a given target company, enriched with structured data. Optionally, you can refine the output by specifying buyer type, company type, geography, and a detailed query to narrow the strategic criteria. Returns a request\_id as a response.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/buyer-screening/enrich/:
    post:
      tags:
      - Discovery
      summary: Buyer Screening
      description: The Buyer Screening API generates a long list of potential buyers for a given target company, enriched with structured data. Optionally, you can refine the output by specifying buyer type, company type, geography, and a detailed query to narrow the strategic criteria. Returns a request\_id as a response.
      operationId: post_api_enterprise_buyer-screening_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/enterprise/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from buyer-screening.md.'
                example: &id001
                  request_id: 278412f8-87ca-47a9-9d1c-4a62a687eaf6
              example: *id001
        '202':
          description: Company Grid Buyer Screening-202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: 278412f8-87ca-47a9-9d1c-4a62a687eaf6
                status: PENDING
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  description: 'Permalink of the target company or its complete URL Example: `"acme-solar"` OR `https://www.acmesolar.in/`'
                parameters:
                  type: object
                  properties:
                    detailed_query:
                      type: string
                      description: A descriptive query to refine the buyer search scope and strategic criteria
                    buyer_type:
                      type: array
                      items: {}
                      description: 'Type of buyer to target. Accepted values: `"strategic"`, `"financial"`'
                    company_type:
                      type: string
                      description: 'Type of company to include. Accepted values: `"private"`, `"public"`, `"all"`'
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
              description: '[FROM OFFICIAL DOCS] Request schema from buyer-screening.md.'
              required:
              - company
            example:
              company: acme-security
              parameters:
                buyer_type:
                - strategic
                company_type: public
                geography:
                - USA
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst raw = JSON.stringify({\n  \"company\": \"acme-security\",\n  \"parameters\": {\n    \"detailed_query\": \"Looking for strategic acquirers in enterprise software\",\n    \"buyer_type\": [\n      \"strategic\"\n    ],\n    \"company_type\": \"public\",\n    \"geography\": [\n      \"United States\"\n    ]\n  }\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/buyer-screening/enrich/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_TOKEN\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n    \"company\": \"acme-security\",\n    \"parameters\": {\n        \"detailed_query\": \"Looking for strategic acquirers in enterprise software\",\n        \"buyer_type\": [\"strategic\"],\n        \"company_type\": \"public\",\n        \"geography\": [\"USA\"]\n    }\n}\nresponse = requests.post(\n    \"https://api.wokelo.ai/api/enterprise/buyer-screening/enrich/\",\n    headers=headers, json=payload\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/enterprise/buyer-screening/enrich/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"company\": \"acme-security\",\n    \"parameters\": {\n      \"buyer_type\": [\"strategic\"],\n      \"company_type\": \"public\",\n      \"geography\": [\"USA\"]\n    }\n  }'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  payload := map[string]interface{}{\n    \"company\": \"acme-security\",\n    \"parameters\": map[string]interface{}{\n      \"buyer_type\":   []string{\"strategic\"},\n      \"company_type\": \"public\",\n      \"geography\":    []string{\"USA\"},\n    },\n  }\n  body, _ := json.Marshal(payload)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/enterprise/buyer-screening/enrich/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class BuyerScreening {\n  public static void main(String[] args) throws Exception {\n    String body = \"{\\\"company\\\":\\\"acme-security\\\",\\\"parameters\\\":{\\\"buyer_type\\\":[\\\"strategic\\\"],\\\"company_type\\\":\\\"public\\\",\\\"geography\\\":[\\\"USA\\\"]}}\";\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/buyer-screening/enrich/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Discovery
  description: Discovery workflows such as market maps and screening.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
