openapi: 3.0.3
info:
  title: Company Research
  description: Starts generating a Company Research report for a specific company.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/workflow_manager/start/:
    post:
      tags:
      - Workflow Automation
      summary: Company Research
      description: Starts generating a Company Research report for a specific company.
      operationId: post_workflow_manager_company_research
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: '[FROM EXAMPLE — not in formal docs schema] Report identifier returned when the workflow request succeeds.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example: &id001
                  report_id: 123345
              example: *id001
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Invalid payload. search query is required.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyResearchRequest'
            example:
              workflow: company_primer
              permalink: wokelo-ai
              workbook_name: wokelo-ai
      security:
      - bearerAuth: []
tags:
- name: Workflow Automation
  description: Workflow-driven report generation endpoints.
components:
  schemas:
    CompanyResearchRequest:
      type: object
      properties:
        industry:
          type: string
          description: Company's industry. If not provided, Wokelo will auto-detect the industry
        permalink:
          type: string
          description: Crunchbase permalink of the company. Provide either this or `website`.
        website:
          type: string
          description: Website of the company. Provide either this or `permalink`.
        workflow:
          type: string
          description: '`company_primer`'
          enum:
          - company_primer
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report. Use `fileName` values from the file upload response
      description: '[FROM OFFICIAL DOCS] Company Research variant with workflow=`company_primer`.'
      required:
      - workflow
      example:
        workflow: company_primer
        permalink: wokelo-ai
        workbook_name: wokelo-ai
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
