openapi: 3.0.3
info:
  title: '[Legacy] Fetch News Report'
  description: This endpoint retrieves the news items from an existing news report run via the Get News Report endpoint `/api/news/start/` news. It returns the news items as a JSON
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/news/fetch/:
    post:
      tags:
      - Monitoring
      summary: '[Legacy] Fetch News Report'
      description: This endpoint retrieves the news items from an existing news report run via the Get News Report endpoint `/api/news/start/` news. It returns the news items as a JSON
      operationId: post_api_news_fetch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ai_summary:
                          type: string
                        type:
                          type: string
                        url:
                          type: string
                        title:
                          type: string
                      required:
                      - ai_summary
                      - type
                      - url
                      - title
                required:
                - report_id
                - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in legacy-fetch-news-report.md.'
              example:
                report_id: 72053
                data:
                - ai_summary: Wokelo has announced a minority equity investment from KPMG LLP, marking a significant step in their growth strategy.
                  type: Investments
                  url: https://kpmg.com/us/en/media/news/kpmg-wokelo-investment-2024.html
                  title: Wokelo Announces Minority Equity Investment from KPMG LLP
        '400':
          description: Fetch news
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
              example:
                error: Report not found.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_id:
                  type: integer
                  description: Report ID of the news report from which the news is to be retrieved
                page:
                  type: integer
                  description: 'Page number from which the news is to be returned in the response. Default: 1'
                page_size:
                  type: integer
                  description: 'Number of news items per page. Default: 500'
              description: '[FROM OFFICIAL DOCS] Request schema from legacy-fetch-news-report.md.'
              required:
              - report_id
            example:
              report_id: 72053
              page: 1
              page_size: 500
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Content-Type\", \"application/json\");\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\n\nconst raw = JSON.stringify({\n  \"report_id\": 72053\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/news/fetch/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer YOUR_TOKEN\"\n}\npayload = {\"report_id\": 72053, \"page\": 1, \"page_size\": 500}\nresponse = requests.post(\n    \"https://api.wokelo.ai/api/news/fetch/\",\n    headers=headers, json=payload\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/news/fetch/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"report_id\": 72053}'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  body := []byte(`{\"report_id\":72053}`)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/news/fetch/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class FetchNewsReport {\n  public static void main(String[] args) throws Exception {\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/news/fetch/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(\"{\\\"report_id\\\":72053}\"))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Monitoring
  description: Monitoring and legacy news-report workflows.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
