openapi: 3.0.3
info:
  title: Target Screening
  description: The Target Screening API generates a long list of potential acquisition targets for a given acquirer, enriched with structured data. Optionally, you can refine the output by specifying keywords, sample companies, geography, company type, employee count, funding stage, and a detailed query to narrow the search scope. Returns a request\_id as a reponse.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/target-screening/enrich/:
    post:
      tags:
      - Discovery
      summary: Target Screening
      description: The Target Screening API generates a long list of potential acquisition targets for a given acquirer, enriched with structured data. Optionally, you can refine the output by specifying keywords, sample companies, geography, company type, employee count, funding stage, and a detailed query to narrow the search scope. Returns a request\_id as a reponse.
      operationId: post_api_enterprise_target-screening_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/enterprise/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from target-screening.md.'
                example: &id001
                  request_id: 8583f59e-0412-4f1e-81e5-13cc70349cb6
              example: *id001
        '202':
          description: Company Grid Target Screening-202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: 8583f59e-0412-4f1e-81e5-13cc70349cb6
                status: PENDING
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: Industry/ product domain. Default will be the product category of the acquiring company.
                company:
                  type: string
                  description: Permalink of the acquiring company or complete URL (e.g. `"microsoft"` OR `"https://www.microsoft.com/"`)
                parameters:
                  type: object
                  properties:
                    detailed_query:
                      type: string
                      description: A descriptive query to refine the target search scope.
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords used to identify and filter relevant target companies
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies to anchor the target search
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
                    company_type:
                      type: string
                      description: 'Type of company to include. Accepted values: `"private"`, `"public"`, `"all"`'
                    employee_count:
                      type: array
                      items:
                        type: string
                      description: 'Filter by employee headcount range. Pass an empty array to include all headcounts. Supporting array values: `1-10`, `11-50`, `51-100`, `101-250`, `251-500`, `501-1000`, `1001-5000`, `5001-10000`, `10000+`'
                    founded_year:
                      type: object
                      properties: {}
                      description: Filter by company founding year. Accepts `from` and/or `to` integer values
                    funding_stage:
                      type: array
                      items:
                        type: string
                      description: 'Filter by funding stage (e.g. `"Series B"`, `"Series C"`). Pass an empty array to include all stages. Supporting array values: `Non-Equity Assistance`, `Angel round`, `Pre-seed`, `Seed`, `Series A`, `Series B`, `Series C`, `Series D`, `Series E`, `Series F`, `Series G`, `Series H`, `Series I`, `Series J`, `Corporate-Funded`, `Debt-Funded`, `Private equity round`, `Others`'
                    total_funding:
                      type: object
                      properties: {}
                      description: Filter by total funding amount raised (in USD). Accepts `from` and/or `to` values
                    revenue:
                      type: object
                      properties: {}
                      description: Filter by annual revenue (in USD). Accepts `from` and/or `to` values
              description: '[FROM OFFICIAL DOCS] Request schema from target-screening.md.'
              required:
              - company
      security:
      - bearerAuth: []
tags:
- name: Discovery
  description: Discovery workflows such as market maps and screening.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
