openapi: 3.1.0
info:
  title: Wokelo Target Screening API
  version: 1.0.0
  description: |
    Scored acquisition targets for a defined acquirer.

    This API returns a ranked and scored list of acquisition targets for a specified
    acquiring company. Results can be refined using detailed search criteria such as
    keywords, sample companies, geography, company type, headcount, funding stage,
    founding year, and financial filters.

servers:
  - url: https://api.wokelo.ai

security:
  - bearerAuth: []

tags:
  - name: Target Screening
    description: Scored acquisition target discovery for a specified acquirer.

paths:
  /api/enterprise/target-screening/enrich/:
    post:
      tags:
        - Target Screening
      operationId: screenTargets
      summary: Generate scored acquisition targets for an acquirer
      description: |
        Returns a ranked list of acquisition targets for a specified acquiring company.

        Use `company` to identify the acquirer, and `parameters` to refine the target
        search using a detailed query, keywords, sample companies, geography,
        company type, headcount, founding year, funding stage, and financial filters.

        The response includes ranking metrics such as overall score, query relevance,
        deal feasibility, deal precedent, and synergy potential, along with rationales.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetScreeningRequest'
            example:
              company: microsoft
              parameters:
                detailed_query: Looking for B2B SaaS companies in the cybersecurity space
                keywords:
                  - zero trust
                  - endpoint security
                sample_companies:
                  - crowdstrike
                  - sentinel
                geography:
                  - USA
                company_type: private
                employee_count: []
                founded_year: {}
                funding_stage: []
                total_funding: {}
                revenue: {}
      responses:
        '200':
          description: Target screening completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetScreeningResponse'
              example:
                request_id: f525ae70-b6aa-4b6e-b0af-c40efaf9681c
                status: COMPLETED
                result:
                  - Permalink: postscript
                    Name: Postscript
                    Website: postscript.io
                    HQ City: Scottsdale
                    HQ Country: United States
                    HQ Continent: North America
                    Founded: "2018"
                    Type: Private
                    Operating Status: Operating
                    Product Category: SMS Marketing Platform
                    Core Offering: Postscript provides SMS marketing solutions aimed at ecommerce brands.
                    Product Catalog: SMS marketing platform, AI-powered features for SMS
                    Employees (Crunchbase): 251-500
                    Employees (LinkedIn): 336
                    Funding Stage: Series C
                    Total Funding: 106200000.0
                    Last Funding Date: '2022-06-15'
                    Key Investors:
                      - Beyond Capital
                      - Twilio
                    Revenue: ""
                    Ticker: ""
                    EBITDA: ""
                    Net Income: ""
                    EBITDA Margin (%): ""
                    Net Income Margin (%): ""
                    EPS Diluted: ""
                    ROA (%): ""
                    Unlevered FCF: ""
                    D/E: ""
                    Market Cap: ""
                    Enterprise Value: ""
                    EV/Revenue (LTM): ""
                    EV/EBITDA (LTM): ""
                    P/E (LTM): ""
                    Acquisitions: ""
                    Investments: ""
                    Overall Score: 7.0
                    Overall Score Rationale: Strong strategic fit and product synergies offset by significant financial stretch and integration complexity for this scale of acquisition.
                    Commentary: Postscript acquisition would eliminate Klaviyo's primary SMS competitor while adding superior AI-powered automation and deliverability infrastructure.
                    Query Relevance Score: 9.0
                    Query Relevance Rationale: Postscript directly provides SMS marketing and push notification infrastructure.
                    Deal Feasibility Score: 3.0
                    Deal Feasibility Rationale: Target valuation likely represents substantial financial stretch.
                    Deal Precedent Score: 6.0
                    Deal Precedent Rationale: Similar marketing automation focus, though larger than prior acquisitions.
                    Synergy Potential Score: 8.0
                    Synergy Potential Rationale: Strong SMS platform integration and cross-sell potential.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: bad_request
                  message: Invalid request payload.
                  details:
                    - field: company
                      message: Company is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: unauthorized
                  message: Missing or invalid bearer token.
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: rate_limited
                  message: Too many requests. Please retry later.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: internal_server_error
                  message: An unexpected error occurred.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token sent in the Authorization header.

  schemas:
    TargetScreeningRequest:
      type: object
      additionalProperties: false
      required:
        - company
      properties:
        topic:
          type: string
          description: |
            Industry or product domain. Defaults to the product category of the
            acquiring company when omitted.
          example: cybersecurity software
        company:
          type: string
          description: Permalink or URL of the acquiring company.
          example: microsoft
        parameters:
          $ref: '#/components/schemas/TargetScreeningParameters'

    TargetScreeningParameters:
      type: object
      additionalProperties: false
      properties:
        detailed_query:
          type: string
          description: A descriptive query to refine the target search scope.
          example: Looking for B2B SaaS companies in the cybersecurity space
        keywords:
          type: array
          description: Keywords used to identify and filter relevant target companies.
          items:
            type: string
          example:
            - zero trust
            - endpoint security
        sample_companies:
          type: array
          description: Representative company permalinks used to anchor the target search.
          items:
            type: string
          example:
            - crowdstrike
            - sentinel
        geography:
          type: array
          description: Geographic scope. Documentation examples show ISO codes like USA, though one example also uses country names.
          items:
            type: string
          example:
            - USA
        company_type:
          type: string
          description: Type of company to include.
          enum:
            - private
            - public
            - all
          example: private
        employee_count:
          type: array
          description: Headcount range filters. Empty array means all.
          items:
            type: string
          example:
            - 11-50
            - 51-100
        founded_year:
          $ref: '#/components/schemas/RangeFilterInteger'
        funding_stage:
          type: array
          description: Funding stage filters. Empty array means all.
          items:
            type: string
          example:
            - Series A
            - Series B
        total_funding:
          $ref: '#/components/schemas/RangeFilterNumberString'
        revenue:
          $ref: '#/components/schemas/RangeFilterNumberString'

    RangeFilterInteger:
      type: object
      additionalProperties: false
      properties:
        from:
          type: integer
          nullable: true
        to:
          type: integer
          nullable: true

    RangeFilterNumberString:
      type: object
      additionalProperties: false
      properties:
        from:
          oneOf:
            - type: number
            - type: string
          nullable: true
        to:
          oneOf:
            - type: number
            - type: string
          nullable: true

    TargetScreeningResponse:
      type: object
      additionalProperties: false
      required:
        - request_id
        - status
        - result
      properties:
        request_id:
          type: string
          description: Unique request identifier.
          example: f525ae70-b6aa-4b6e-b0af-c40efaf9681c
        status:
          type: string
          description: Processing status.
          example: COMPLETED
        result:
          type: array
          description: Ranked list of scored target companies.
          items:
            $ref: '#/components/schemas/TargetCompany'

    TargetCompany:
      type: object
      additionalProperties: true
      properties:
        Permalink:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        Website:
          type: string
          nullable: true
        HQ City:
          type: string
          nullable: true
        HQ Country:
          type: string
          nullable: true
        HQ Continent:
          type: string
          nullable: true
        Founded:
          type: string
          nullable: true
        Type:
          type: string
          nullable: true
        Operating Status:
          type: string
          nullable: true
        Product Category:
          type: string
          nullable: true
        Core Offering:
          type: string
          nullable: true
        Product Catalog:
          type: string
          nullable: true
        Employees (Crunchbase):
          oneOf:
            - type: string
            - type: integer
          nullable: true
        Employees (LinkedIn):
          oneOf:
            - type: integer
            - type: string
          nullable: true
        Funding Stage:
          type: string
          nullable: true
        Total Funding:
          oneOf:
            - type: number
            - type: string
          nullable: true
        Last Funding Date:
          type: string
          nullable: true
          format: date
        Key Investors:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          nullable: true
        Revenue:
          type: string
          nullable: true
        Ticker:
          type: string
          nullable: true
        EBITDA:
          type: string
          nullable: true
        Net Income:
          type: string
          nullable: true
        EBITDA Margin (%):
          type: string
          nullable: true
        Net Income Margin (%):
          type: string
          nullable: true
        EPS Diluted:
          type: string
          nullable: true
        ROA (%):
          type: string
          nullable: true
        Unlevered FCF:
          type: string
          nullable: true
        D/E:
          type: string
          nullable: true
        Market Cap:
          type: string
          nullable: true
        Enterprise Value:
          type: string
          nullable: true
        EV/Revenue (LTM):
          type: string
          nullable: true
        EV/EBITDA (LTM):
          type: string
          nullable: true
        P/E (LTM):
          type: string
          nullable: true
        Acquisitions:
          type: string
          nullable: true
        Investments:
          type: string
          nullable: true
        Overall Score:
          type: number
          nullable: true
        Overall Score Rationale:
          type: string
          nullable: true
        Commentary:
          type: string
          nullable: true
        Query Relevance Score:
          type: number
          nullable: true
        Query Relevance Rationale:
          type: string
          nullable: true
        Deal Feasibility Score:
          type: number
          nullable: true
        Deal Feasibility Rationale:
          type: string
          nullable: true
        Deal Precedent Score:
          type: number
          nullable: true
        Deal Precedent Rationale:
          type: string
          nullable: true
        Synergy Potential Score:
          type: number
          nullable: true
        Synergy Potential Rationale:
          type: string
          nullable: true

    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: bad_request
            message:
              type: string
              example: Invalid request payload.
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      additionalProperties: true
      properties:
        field:
          type: string
          example: company
        message:
          type: string
          example: Company is required.
