openapi: 3.0.3
info:
  title: Login
  description: Obtain a JSON Web Token (JWT) for subsequent API authentication
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /auth/token/:
    post:
      tags:
      - Authentication
      summary: Login
      description: Obtain a JSON Web Token (JWT) for subsequent API authentication
      operationId: post_auth_token
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT for authenticated API access
                  expires_in:
                    type: integer
                    description: Token validity duration in seconds
                  token_type:
                    type: string
                    description: Type of authentication token
                  scope:
                    type: string
                    description: Authorization scope of the token
                  refresh_token:
                    type: string
                    description: Token used to obtain a new access token
                description: '[FROM OFFICIAL DOCS] Response schema from authentication.md.'
                example: &id001
                  access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  expires_in: 2628288
                  token_type: Bearer
                  scope: read write
                  refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              example: *id001
        '401':
          description: Login
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
              example:
                error: invalid_client
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Client identifier
                client_secret:
                  type: string
                  description: Client secret
                username:
                  type: string
                  description: Username
                password:
                  type: string
                  description: Password
                grant_type:
                  type: string
                  description: Grant type
              description: '[FROM OFFICIAL DOCS] Multipart login form.'
              required:
              - client_id
              - client_secret
              - username
              - password
              - grant_type
            example:
              client_id: YOUR_CLIENT_ID
              client_secret: YOUR_CLIENT_SECRET
              username: sam@abconsulting.com
              password: password
              grant_type: password
      security: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const formdata = new FormData();\nformdata.append(\"username\", \"sam@abconsulting.com\");\nformdata.append(\"password\", \"password\");\nformdata.append(\"grant_type\", \"password\");\nformdata.append(\"client_id\", \"R9L25HMhvxp33N4ws2PYBqVTMclSnXKjdf8E4Mf\");\nformdata.append(\"client_secret\", \"NmwXR8KYjUnpqs2hwmHJHBLTNPV4x7DtZA5ScK\");\n\nconst requestOptions = {\n  method: \"POST\",\n  body: formdata,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/auth/token/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nformdata = {\n    \"username\": \"sam@abconsulting.com\",\n    \"password\": \"password\",\n    \"grant_type\": \"password\",\n    \"client_id\": \"YOUR_CLIENT_ID\",\n    \"client_secret\": \"YOUR_CLIENT_SECRET\",\n}\n\nresponse = requests.post(\"https://api.wokelo.ai/auth/token/\", data=formdata)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/auth/token/ \\\n  --form username=sam@abconsulting.com \\\n  --form password=password \\\n  --form grant_type=password \\\n  --form client_id=YOUR_CLIENT_ID \\\n  --form client_secret=YOUR_CLIENT_SECRET"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"net/url\"\n  \"io\"\n)\n\nfunc main() {\n  formData := url.Values{\n    \"username\":      {\"sam@abconsulting.com\"},\n    \"password\":      {\"password\"},\n    \"grant_type\":    {\"password\"},\n    \"client_id\":     {\"YOUR_CLIENT_ID\"},\n    \"client_secret\": {\"YOUR_CLIENT_SECRET\"},\n  }\n  resp, _ := http.PostForm(\"https://api.wokelo.ai/auth/token/\", formData)\n  defer resp.Body.Close()\n  body, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(body))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\nimport java.net.URLEncoder;\nimport java.nio.charset.StandardCharsets;\n\npublic class WokeloAuth {\n  public static void main(String[] args) throws Exception {\n    String body = \"username=\" + URLEncoder.encode(\"sam@abconsulting.com\", StandardCharsets.UTF_8)\n        + \"&password=password&grant_type=password\"\n        + \"&client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET\";\n\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/auth/token/\"))\n        .header(\"Content-Type\", \"application/x-www-form-urlencoded\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Authentication
  description: Token issuance and authentication entry points.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
