openapi: 3.0.3
info:
  title: Upload File
  description: Upload your files to Wokelo to supplement research reports with proprietary data. Each uploaded file receives a unique identifier that you can reference in the `custom_files` parameter when creating reports.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/assets/upload/:
    post:
      tags:
      - Supporting APIs
      summary: Upload file
      description: Upload your files to Wokelo to supplement research reports with proprietary data. Each uploaded file receives a unique identifier that you can reference in the `custom_files` parameter when creating reports.
      operationId: post_api_assets_upload
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Overall upload status (success or error)
                  success:
                    type: array
                    items:
                      type: object
                      properties:
                        fileName:
                          type: string
                          description: Wokelo's unique file identifier—use this in the `custom_files` parameter when creating reports
                        originalName:
                          type: string
                          description: '[FROM EXAMPLE — not in formal docs schema] Original uploaded filename returned for each successful file.'
                        mimeType:
                          type: string
                          description: Detected file type/format
                        uuid:
                          type: string
                          description: '[FROM EXAMPLE — not in formal docs schema] Caller-provided UUID echoed back for each successful file when supplied.'
                    description: Array containing information on successfully uploaded files
                  fails:
                    type: array
                    items:
                      type: object
                      properties:
                        reason:
                          type: string
                          description: '[FROM EXAMPLE — not in formal docs schema] Reason given for each failed upload item when present.'
                    description: Array containing information about failed uploads (empty on success)
                description: '[FROM OFFICIAL DOCS] Response schema from upload-file.md.'
                example: &id001
                  status: success
                  success:
                  - fileName: file_116e55ec-041d-4c1e-897c-3adef1576a09
                    originalName: lemonade.pdf
                    mimeType: pdf
                    uuid: a7f4b9e2c3
                  - fileName: file_e30c7d3f-8bed-46b2-ae9c-eebc879323cc
                    originalName: lemonade_diligence.pdf
                    mimeType: pdf
                    uuid: k3m8n5p1q6
                  fails: []
              example: *id001
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Array of files to be uploaded
                fileUUID:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Your own UUIDs to track files. Must match the length and order of the `files` array. These UUIDs will be returned in the response alongside Wokelo's `fileName` identifiers.
              description: '[FROM OFFICIAL DOCS] Multipart upload payload.'
              required:
              - files
            example:
              files:
              - <binary file>
              fileUUID:
              - 550e8400-e29b-41d4-a716-446655440000
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const formdata = new FormData();\nformdata.append(\"files\", fileInput.files[0], \"lemonade.pdf\");\nformdata.append(\"fileUUID\", \"550e8400-e29b-41d4-a716-446655440000\");\n\nconst requestOptions = {\n  method: \"POST\",\n  body: formdata,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/assets/upload/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\"Authorization\": \"Bearer YOUR_TOKEN\"}\nwith open(\"lemonade.pdf\", \"rb\") as f:\n    response = requests.post(\n        \"https://api.wokelo.ai/api/assets/upload/\",\n        headers=headers,\n        files={\"files\": (\"lemonade.pdf\", f, \"application/pdf\")},\n        data={\"fileUUID\": \"550e8400-e29b-41d4-a716-446655440000\"}\n    )\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/assets/upload/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --form 'files=@/path/to/lemonade.pdf' \\\n  --form 'fileUUID=550e8400-e29b-41d4-a716-446655440000'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"fmt\"\n  \"io\"\n  \"mime/multipart\"\n  \"net/http\"\n  \"os\"\n)\n\nfunc main() {\n  var buf bytes.Buffer\n  w := multipart.NewWriter(&buf)\n  file, _ := os.Open(\"lemonade.pdf\")\n  defer file.Close()\n  fw, _ := w.CreateFormFile(\"files\", \"lemonade.pdf\")\n  io.Copy(fw, file)\n  w.WriteField(\"fileUUID\", \"550e8400-e29b-41d4-a716-446655440000\")\n  w.Close()\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/assets/upload/\", &buf)\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", w.FormDataContentType())\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  body, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(body))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\nimport java.nio.file.*;\n\npublic class UploadFile {\n  public static void main(String[] args) throws Exception {\n    String boundary = \"----JavaBoundary\";\n    byte[] fileBytes = Files.readAllBytes(Path.of(\"lemonade.pdf\"));\n    String bodyPart1 = \"--\" + boundary + \"\\r\\nContent-Disposition: form-data; name=\\\"files\\\"; filename=\\\"lemonade.pdf\\\"\\r\\nContent-Type: application/pdf\\r\\n\\r\\n\";\n    String bodyPart2 = \"\\r\\n--\" + boundary + \"--\";\n    byte[] body = concat(bodyPart1.getBytes(), fileBytes, bodyPart2.getBytes());\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/assets/upload/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"multipart/form-data; boundary=\" + boundary)\n        .POST(HttpRequest.BodyPublishers.ofByteArray(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n\
          \        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n  static byte[] concat(byte[]... arrays) {\n    int len = 0; for (byte[] a : arrays) len += a.length;\n    byte[] result = new byte[len]; int pos = 0;\n    for (byte[] a : arrays) { System.arraycopy(a, 0, result, pos, a.length); pos += a.length; }\n    return result;\n  }\n}"
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
