openapi: 3.0.3
info:
  title: Industry Deep Intelligence
  description: The Industry Insights API generates structured insights for a given
    industry topic (e.g., *"Warehouse automation"*). Optionally, you can refine the
    output by specifying sections, keywords, geography, a custom industry definition,
    and sample companies. Returns a `request_id` as a response.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/industry/enrich/:
    post:
      tags:
      - Enrichment
      summary: Industry Deep Intelilgence
      description: 'Source docs: industry-deep-intelligence.md'
      operationId: post_api_enterprise_industry_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this
                      with the `/api/wkl-api/request/status/` endpoint to check the
                      status
                description: '[FROM OFFICIAL DOCS] Response schema from industry-deep-intelligence.md.'
                example: &id001
                  request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
              example: *id001
        '202':
          description: Industry Insights- 202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
                status: PENDING
      x-source-variants:
      - group_path: Enrichment
        request_name: Industry Deep Intelilgence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: The industry topic to generate insights for (e.g. `"Enterprise
                    SaaS security"`)
                sections:
                  type: array
                  items:
                    type: string
                  description: 'Sections to include in the report. Supported values:
                    `market_size`, `quant_insights`, `trends_and_innovations`, `transactions_mna`,
                    `transactions_fundraising`, `transactions_ipo`, `partnerships`,
                    `tier1_intelligence`, `case_studies`, `industry_regulations`'
                parameters:
                  type: object
                  properties:
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords to focus the analysis on (e.g. `"zero
                        trust"`, `"SIEM"`)
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope for the report. It should be a
                        comma separated list of ISO country codes. (Eg.. `["USA",
                        "GBR"]`)
                    definition:
                      type: string
                      description: A custom definition of the industry to guide the
                        report generation
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies in the industry
              description: '[FROM OFFICIAL DOCS] Request schema from industry-deep-intelligence.md.'
              required:
              - topic
      security:
      - bearerAuth: []
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
