openapi: 3.0.3
info:
  title: Market Map
  description: The Market Map API generates a long list of companies operating in a given market (e.g., *"AI-powered CRM software"*), enriched with structured data. Optionally, you can refine the output by specifying keywords, sample companies, geography, company type, employee count, funding stage, and more. Returns request\_id as a response.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/market-map/enrich/:
    post:
      tags:
      - Discovery
      summary: Market Map
      description: The Market Map API generates a long list of companies operating in a given market (e.g., *"AI-powered CRM software"*), enriched with structured data. Optionally, you can refine the output by specifying keywords, sample companies, geography, company type, employee count, funding stage, and more. Returns request\_id as a response.
      operationId: post_api_enterprise_market-map_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/enterprise/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from market-map.md.'
                example: &id001
                  request_id: ed2ce223-3bd2-4a08-855f-79751bf1bd92
              example: *id001
        '202':
          description: Company Grid Market Map-202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: ed2ce223-3bd2-4a08-855f-79751bf1bd92
                status: PENDING
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: The market or product category to map (e.g. `"AI-powered CRM software"`)
                parameters:
                  type: object
                  properties:
                    detailed_query:
                      type: string
                      description: A more descriptive query to refine the market map scope
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords used to identify and filter relevant companies.
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies or their complete URLs to anchor the market map.
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
                    company_type:
                      type: string
                      description: 'Type of company to include. Accepted values: `"private"`, `"public"`, `"all"`'
                    employee_count:
                      type: array
                      items:
                        type: string
                      description: 'Filter by employee headcount range. Pass an empty array to include all headcounts. Supporting array values: `1-10`, `11-50`, `51-100`, `101-250`, `251-500`, `501-1000`, `1001-5000`, `5001-10000`, `10000+`'
                    founded_year:
                      type: object
                      properties: {}
                      description: Filter by company founding year. Accepts `from` and/or `to` integer values
                    funding_stage:
                      type: array
                      items:
                        type: string
                      description: 'Filter by funding stage (e.g. `"Series A"`, `"Series B"`). Pass an empty array to include all stages. Supporting array values: `Non-Equity Assistance`, `Angel round`, `Pre-seed`, `Seed`, `Series A`, `Series B`, `Series C`, `Series D`, `Series E`, `Series F`, `Series G`, `Series H`, `Series I`, `Series J`, `Corporate-Funded`, `Debt-Funded`, `Private equity round`, `Others`'
                    total_funding:
                      type: object
                      properties: {}
                      description: Filter by total funding amount raised. Accepts `from` and/or `to` values
                    last_funding_round:
                      type: object
                      properties: {}
                      description: Filter by last funding round details. Accepts `from` and/or `to` values
                    revenue:
                      type: object
                      properties: {}
                      description: Filter by annual revenue. Accepts `from` and/or `to` values
                    ebitda:
                      type: object
                      properties: {}
                      description: Filter by EBITDA. Accepts `from` and/or `to` values
                    net_income:
                      type: object
                      properties: {}
                      description: Filter by net income. Accepts `from` and/or `to` values
                    ev_ebitda:
                      type: object
                      properties: {}
                      description: Filter by EV/EBITDA multiple. Accepts `from` and/or `to` values
              description: '[FROM OFFICIAL DOCS] Request schema from market-map.md.'
              required:
              - topic
            example:
              topic: AI-powered CRM software
              parameters:
                detailed_query: B2B CRM tools leveraging AI for sales automation
                keywords:
                - AI
                - CRM
                - sales automation
                sample_companies:
                - salesforce
                - hubspot
                geography:
                - USA
                company_type: private
                employee_count:
                - 11-50
                funding_stage:
                - Series A
                - Series B
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst raw = JSON.stringify({\n  \"topic\": \"AI-powered CRM software\",\n  \"parameters\": {\n    \"detailed_query\": \"B2B CRM tools leveraging AI for sales automation\",\n    \"keywords\": [\n      \"AI\",\n      \"CRM\",\n      \"sales automation\"\n    ],\n    \"sample_companies\": [\n      \"salesforce\",\n      \"hubspot\"\n    ],\n    \"geography\": [\n      \"United States\"\n    ],\n    \"company_type\": \"private\",\n    \"employee_count\": [\"11-50\"],\n    \"founded_year\": { \"min\": 2015 },\n    \"funding_stage\": [],\n    \"total_funding\": {},\n    \"last_funding_round\": {},\n    \"revenue\": {},\n    \"ebitda\": {},\n    \"net_income\": {},\n    \"ev_ebitda\": {}\n  }\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/market-map/enrich/\"\
          , requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_TOKEN\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n    \"topic\": \"AI-powered CRM software\",\n    \"parameters\": {\n        \"detailed_query\": \"B2B CRM tools leveraging AI for sales automation\",\n        \"keywords\": [\"AI\", \"CRM\", \"sales automation\"],\n        \"sample_companies\": [\"salesforce\", \"hubspot\"],\n        \"geography\": [\"USA\"],\n        \"company_type\": \"private\",\n        \"employee_count\": [\"11-50\"],\n        \"founded_year\": {\"from\": 2015},\n        \"funding_stage\": [\"Series A\", \"Series B\"]\n    }\n}\nresponse = requests.post(\n    \"https://api.wokelo.ai/api/enterprise/market-map/enrich/\",\n    headers=headers, json=payload\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/enterprise/market-map/enrich/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"topic\": \"AI-powered CRM software\",\n    \"parameters\": {\n      \"company_type\": \"private\",\n      \"employee_count\": [\"11-50\"]\n    }\n  }'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  payload := map[string]interface{}{\n    \"topic\": \"AI-powered CRM software\",\n    \"parameters\": map[string]interface{}{\n      \"company_type\":   \"private\",\n      \"employee_count\": []string{\"11-50\"},\n    },\n  }\n  body, _ := json.Marshal(payload)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/enterprise/market-map/enrich/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class MarketMap {\n  public static void main(String[] args) throws Exception {\n    String body = \"{\\\"topic\\\":\\\"AI-powered CRM software\\\",\\\"parameters\\\":{\\\"company_type\\\":\\\"private\\\",\\\"employee_count\\\":[\\\"11-50\\\"]}}\";\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/market-map/enrich/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Discovery
  description: Discovery workflows such as market maps and screening.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
