openapi: 3.0.3
info:
  title: Company Search
  description: Search for companies using name, website or ticker. It returns a list of companies with their permalink and other attributes.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/company/search:
    get:
      tags:
      - Supporting APIs
      summary: Company Search
      description: Search for companies using name, website or ticker. It returns a list of companies with their permalink and other attributes.
      operationId: get_api_enterprise_company_search
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: '`"success"` if the request was processed successfully.'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Company name.
                        permalink:
                          type: string
                          description: Unique identifier/slug for the company.
                        short_description:
                          type: string
                          description: Brief description of the company.
                        founded_year:
                          type: string
                          description: Year the company was founded.
                        ipo_status:
                          type: string
                          description: IPO status (e.g., `private`, `public`).
                        hq:
                          type: string
                          description: Headquarters location.
                        industries:
                          type: string
                          description: Industry or sector the company operates in.
                        website:
                          type: string
                          description: Company website URL.
                        ticker:
                          type: string
                          description: Stock ticker symbol (if applicable).
                        country_code:
                          type: string
                          description: ISO country code.
                        country:
                          type: string
                          description: Full country name.
                        domain:
                          type: string
                          description: Company domain name.
                        last_funding_round:
                          type: string
                          description: Most recent funding round (e.g., `Seed`, `Pre Seed` etc)
                    description: List of matching company objects.
                  count:
                    type: integer
                    description: Total number of results returned.
                description: '[FROM OFFICIAL DOCS] Response schema from company-search.md.'
                example: &id001
                  status: success
                  data:
                  - name: Wokelo AI
                    permalink: wokelo-ai
                    short_description: Wokelo builds purpose-built AI agents for dealmaking and consulting.
                    founded_year: '2023'
                    ipo_status: private
                    hq: Seattle, United States
                    industries: AI Investment Research Platform
                    website: https://www.wokelo.ai/
                    ticker: ''
                    country_code: US
                    country: United States
                    domain: wokelo.ai
                    last_funding_round: Seed
                  count: 10
              example: *id001
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: 'The search query string (e.g., company name, website or ticker). Examples: Tesla OR `https://tesla.com` OR TSLA'
      - name: search_by
        in: query
        required: false
        schema:
          type: string
        description: 'Field to search by. Supported value: `name`, `website`, `ticker`'
      - name: company_type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by company type. Supported values: `private`, `public`, `all` Note: Use `all` to return all types. (This is the default value is nothing is mentioned)'
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst raw = JSON.stringify({\n  \"q\": \"wokelo\"\n});\n\nconst requestOptions = {\n  method: \"GET\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/company/search?query=wokelo&search_by=name&company_type=all\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\"Authorization\": \"Bearer YOUR_TOKEN\", \"Content-Type\": \"application/json\"}\nresponse = requests.get(\n    \"https://api.wokelo.ai/api/enterprise/company/search\",\n    headers=headers,\n    params={\"query\": \"wokelo\", \"search_by\": \"name\", \"company_type\": \"all\"}\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request GET \\\n  --url 'https://api.wokelo.ai/api/enterprise/company/search?query=wokelo&search_by=name&company_type=all' \\\n  --header 'Authorization: Bearer YOUR_TOKEN'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  req, _ := http.NewRequest(\"GET\",\n    \"https://api.wokelo.ai/api/enterprise/company/search?query=wokelo&search_by=name&company_type=all\", nil)\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  body, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(body))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class CompanySearch {\n  public static void main(String[] args) throws Exception {\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/company/search?query=wokelo&search_by=name&company_type=all\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .GET()\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
