openapi: 3.0.3
info:
  title: Request Cancel
  description: Cancels a request already submitted.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/request/cancel:
    post:
      tags:
      - Supporting APIs
      summary: Request Cancel
      description: Cancels a request already submitted.
      operationId: post_api_enterprise_request_cancel
      responses:
        '200':
          description: Successful cancellation acknowledgement
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Cancellation acknowledgement payload. The exact success body is not formally documented.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
              required:
              - request_id
              description: '[DERIVED FROM EXAMPLE — not authoritative] Request schema from Postman raw body.'
            example:
              request_id: 5b0eff600-366f-465c-b795-68837043a2d3
      security:
      - bearerAuth: []
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
