openapi: 3.0.3
info:
  title: Request Status
  description: Retrieves the current status of a previously submitted API request.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/request/status/:
    get:
      tags:
      - Supporting APIs
      summary: Request Status
      description: Retrieves the current status of a previously submitted API request.
      operationId: get_api_enterprise_request_status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                  request_type:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                required:
                - request_id
                - status
                - request_type
                - created_at
                - updated_at
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in request-status.md.'
              example:
                request_id: b1f10ebf-a251-4e2d-b867-8482ac701987
                status: COMPLETED
                request_type: target_screening
                created_at: '2026-03-25T07:24:40.333168Z'
                updated_at: '2026-03-25T07:30:41.503082Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
      - name: request_id
        in: query
        required: true
        schema:
          type: string
        description: 'The unique identifier of the request whose status is being checked. Example: `11db67b6-8345-4837-950f-87bbd8d7dcbe`'
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst requestOptions = {\n  method: \"GET\",\n  headers: myHeaders,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/request/status/?request_id=11db67b6-8345-4837-950f-87bbd8d7dcbe\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests, time\n\nheaders = {\"Authorization\": \"Bearer YOUR_TOKEN\", \"Content-Type\": \"application/json\"}\nwhile True:\n    r = requests.get(\n        \"https://api.wokelo.ai/api/enterprise/request/status/\",\n        headers=headers,\n        params={\"request_id\": \"11db67b6-8345-4837-950f-87bbd8d7dcbe\"}\n    )\n    data = r.json()\n    if data[\"status\"] in (\"COMPLETED\", \"FAILED\"):\n        break\n    time.sleep(5)\nprint(data)"
      - label: cURL
        lang: cURL
        source: "curl --request GET \\\n  --url 'https://api.wokelo.ai/api/enterprise/request/status/?request_id=11db67b6-8345-4837-950f-87bbd8d7dcbe' \\\n  --header 'Authorization: Bearer YOUR_TOKEN'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"time\"\n)\n\nfunc main() {\n  for {\n    req, _ := http.NewRequest(\"GET\",\n      \"https://api.wokelo.ai/api/enterprise/request/status/?request_id=11db67b6-8345-4837-950f-87bbd8d7dcbe\", nil)\n    req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n    resp, _ := http.DefaultClient.Do(req)\n    body, _ := io.ReadAll(resp.Body)\n    resp.Body.Close()\n    var result map[string]interface{}\n    json.Unmarshal(body, &result)\n    if result[\"status\"] == \"COMPLETED\" || result[\"status\"] == \"FAILED\" {\n      fmt.Println(string(body)); break\n    }\n    time.Sleep(5 * time.Second)\n  }\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class RequestStatus {\n  public static void main(String[] args) throws Exception {\n    while (true) {\n      HttpRequest request = HttpRequest.newBuilder()\n          .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/request/status/?request_id=11db67b6-8345-4837-950f-87bbd8d7dcbe\"))\n          .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n          .GET().build();\n      HttpResponse<String> response = HttpClient.newHttpClient()\n          .send(request, HttpResponse.BodyHandlers.ofString());\n      if (response.body().contains(\"COMPLETED\") || response.body().contains(\"FAILED\")) {\n        System.out.println(response.body()); break;\n      }\n      Thread.sleep(5000);\n    }\n  }\n}"
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
