openapi: 3.0.3
info:
  title: Request Status
  description: Retrieves the current status of a previously submitted API request.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/request/status/:
    get:
      tags:
      - Supporting APIs
      summary: Request Status
      description: 'Source docs: request-status.md'
      operationId: get_api_enterprise_request_status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                  request_type:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                required:
                - request_id
                - status
                - request_type
                - created_at
                - updated_at
                description: '[FROM OFFICIAL DOCS] Response schema derived from example
                  in request-status.md.'
              example:
                request_id: b1f10ebf-a251-4e2d-b867-8482ac701987
                status: COMPLETED
                request_type: target_screening
                created_at: '2026-03-25T07:24:40.333168Z'
                updated_at: '2026-03-25T07:30:41.503082Z'
      x-source-variants:
      - group_path: Supporting APIs
        request_name: Request Status
      parameters:
      - name: request_id
        in: query
        required: true
        schema:
          type: string
        description: 'The unique identifier of the request whose status is being checked.
          Example: `11db67b6-8345-4837-950f-87bbd8d7dcbe`'
      security:
      - bearerAuth: []
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
