openapi: 3.0.3
info:
  title: Company Deep Intelligence
  description: The Company Insights API delivers structured insights for one or more companies across sections such as products & services, product launches, strategic initiatives, partnerships, and more. Optionally, you can customize the output by specifying which sections to include and defining custom fields with your own prompts. . Returns a request\_id in response.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/company/enrich/:
    post:
      tags:
      - Enrichment
      summary: Company Deep Intelligence
      description: The Company Insights API delivers structured insights for one or more companies across sections such as products & services, product launches, strategic initiatives, partnerships, and more. Optionally, you can customize the output by specifying which sections to include and defining custom fields with your own prompts. . Returns a request\_id in response.
      operationId: post_company_deep_intelligence
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: '[FROM EXAMPLE — not in formal docs schema] Request identifier returned when the enrichment job is accepted.'
                  status:
                    type: string
                    description: '[FROM EXAMPLE — not in formal docs schema] Async processing status returned with the request identifier.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-deep-intelligence.md.'
                example: &id001
                  request_id: 3c945250-a3e8-4673-b342-2ceb03af5b02
                  status: PENDING
              example: *id001
        '202':
          description: Company Enrichment- 202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: 931643e9-b6c7-45d4-9ba9-bd3b534221e7
                status: PENDING
        '400':
          description: Company Enrichment- 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  invalid:
                    type: array
                    items:
                      type: string
                required:
                - error
                - invalid
              example:
                error: Invalid companies not found in database
                invalid:
                - Tesla
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyDeepIntelligenceRequest'
            example:
              companies:
              - tesla-motors
              - stripe
              sections:
              - products_and_services
              - product_launches
              parameters:
                custom_fields:
                - field_name: AI Readiness
                  type: text
                  prompt: Rate this company's AI readiness on a scale of 1-10 with reasoning
      security:
      - bearerAuth: []
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  schemas:
    CompanyDeepIntelligenceRequest:
      type: object
      properties:
        companies:
          type: array
          items:
            type: string
          description: List of permalinks/ URLs of the companies (e.g. `"tesla-motors"`, `"stripe"` OR `"https://tesla.com"`)
        sections:
          type: array
          items:
            type: string
            enum:
            - products_and_services
            - product_launches
            - strategic_initiatives
            - partnerships
            - business_model
            - key_customers
            - management_profiles
            - employee_sentiment
            - product_sentiment
          description: 'Sections of data to include in the output. Supported values: `products_and_services`, `product_launches`, `strategic_initiatives`, `partnerships`, `business_model`, `key_customers`, `management_profiles`, `employee_sentiment`, `product_sentiment`'
          minItems: 1
        parameters:
          type: object
          properties:
            custom_fields:
              type: array
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Name of the custom field. Required if `custom_fields` is used.
                  type:
                    type: string
                    description: 'Data type of the field (e.g. `text`). Supported Value: `text`. Required if `custom_fields` is used.'
                  prompt:
                    type: string
                    description: Prompt used to generate the custom field value. Required if `custom_fields` is used.
              description: List of custom fields to compute for each company
      description: '[FROM OFFICIAL DOCS] Deep Intelligence variant using the deep-intelligence `sections` vocabulary.'
      required:
      - companies
      - sections
      example:
        companies:
        - tesla-motors
        - stripe
        sections:
        - products_and_services
        - product_launches
        parameters:
          custom_fields:
          - field_name: AI Readiness
            type: text
            prompt: Rate this company's AI readiness on a scale of 1-10 with reasoning
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
