openapi: 3.0.3
info:
  title: Download Report
  description: Downloads the generated report in the required format such as docx, pdf, and json. The format is passed in the request body.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/assets/download_report/:
    post:
      tags:
      - Supporting APIs
      summary: Download Report
      description: Downloads the generated report in the required format such as docx, pdf, and json. The format is passed in the request body.
      operationId: post_api_assets_download_report
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Executive Summary:
                    type: object
                    properties:
                      Executive Summary:
                        type: object
                        properties:
                          summary:
                            type: object
                            properties:
                              source:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    title:
                                      type: string
                                    url:
                                      type: string
                                    publisher:
                                      type: string
                                    date:
                                      type: string
                                  required:
                                  - id
                                  - title
                                  - url
                                  - publisher
                                  - date
                            required:
                            - source
                        required:
                        - summary
                    required:
                    - Executive Summary
                required:
                - Executive Summary
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in download-report.md.'
              example:
                Executive Summary:
                  Executive Summary:
                    summary:
                      source:
                      - id: 1
                        title: openPR.com L4 Self-driving Vehicle Market Current Status and Future Prospects till 2033
                        url: https://www.openpr.com/news/4132700/l4-self-driving-vehicle-market-current-status-and-future
                        publisher: ''
                        date: ''
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_type:
                  type: string
                  description: 'Export format. Permitted values: "pdf", "docx", "json"'
                report_id:
                  type: integer
                  description: Id of the report to be exported
              description: '[FROM OFFICIAL DOCS] Request schema from download-report.md.'
              required:
              - file_type
              - report_id
            example:
              report_id: 84102
              file_type: json
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Content-Type\", \"application/json\");\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\n\nconst raw = JSON.stringify({\n  \"report_id\": 84102,\n  \"file_type\": \"json\"\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/assets/download_report/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer YOUR_TOKEN\"\n}\npayload = {\"report_id\": 84102, \"file_type\": \"json\"}\nresponse = requests.post(\n    \"https://api.wokelo.ai/api/assets/download_report/\",\n    headers=headers,\n    json=payload\n)\n\n# For JSON export\nprint(response.json())\n\n# For binary (pdf/docx), save to file instead:\n# with open(\"report.pdf\", \"wb\") as f:\n#     f.write(response.content)"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/assets/download_report/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"report_id\": 84102,\n    \"file_type\": \"json\"\n  }'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  payload := map[string]interface{}{\n    \"report_id\": 84102,\n    \"file_type\": \"json\",\n  }\n  body, _ := json.Marshal(payload)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/assets/download_report/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class DownloadReport {\n  public static void main(String[] args) throws Exception {\n    String body = \"{\\\"report_id\\\":84102,\\\"file_type\\\":\\\"json\\\"}\";\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/assets/download_report/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Supporting APIs
  description: Supporting endpoints for uploads, status, downloads, and configuration.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
