openapi: 3.0.3
info:
  title: Peer Comparison
  description: Generates a comprehensive comparison of up to 5 companies. The report analyzes multiple dimensions including company fundamentals and firmographics, product offerings and business models, employee reviews and satisfaction, hiring trends and workforce data, and online presence and market visibility.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/workflow_manager/start/:
    post:
      tags:
      - Workflow Automation
      summary: Peer Comparison
      description: Generates a comprehensive comparison of up to 5 companies. The report analyzes multiple dimensions including company fundamentals and firmographics, product offerings and business models, employee reviews and satisfaction, hiring trends and workforce data, and online presence and market visibility.
      operationId: post_workflow_manager_peer_comparison
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: '[FROM EXAMPLE — not in formal docs schema] Report identifier returned when the workflow request succeeds.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example: &id001
                  report_id: 123345
              example: *id001
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Invalid payload. search query is required.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeerComparisonRequest'
            example:
              workflow: player_comparison
              websites:
              - stripe.com
              - paypal.com
              workbook_name: Test report
      security:
      - bearerAuth: []
tags:
- name: Workflow Automation
  description: Workflow-driven report generation endpoints.
components:
  schemas:
    PeerComparisonRequest:
      type: object
      properties:
        workflow:
          type: string
          description: '`player_comparison`'
          enum:
          - player_comparison
        websites:
          type: array
          items:
            type: string
          description: Array of company websites to compare
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
      description: '[FROM OFFICIAL DOCS] Peer Comparison variant with workflow=`player_comparison`.'
      required:
      - workflow
      - websites
      example:
        workflow: player_comparison
        websites:
        - stripe.com
        - paypal.com
        workbook_name: Test report
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
