openapi: 3.0.3
info:
  title: Product Reviews
  description: Retrieves paginated product reviews for a specified company, supporting configurable result limits and offsets for efficient data navigation. Returns a structured list of product reviews.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/company/product-reviews/:
    get:
      tags:
      - Enrichment
      summary: Product Reviews
      description: Retrieves paginated product reviews for a specified company, supporting configurable result limits and offsets for efficient data navigation. Returns a structured list of product reviews.
      operationId: get_api_enterprise_company_product-reviews
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      company:
                        type: string
                      product_name:
                        type: string
                      rating:
                        type: number
                      star_distribution:
                        type: object
                        properties:
                          '1':
                            type: integer
                          '2':
                            type: integer
                          '3':
                            type: integer
                          '4':
                            type: integer
                          '5':
                            type: integer
                        required:
                        - '1'
                        - '2'
                        - '3'
                        - '4'
                        - '5'
                      reviews:
                        type: array
                        items:
                          type: object
                          properties:
                            review_id:
                              type: integer
                            review_title:
                              type: string
                          required:
                          - review_id
                          - review_title
                    required:
                    - company
                    - product_name
                    - rating
                    - star_distribution
                    - reviews
                required:
                - status
                - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in product-reviews.md.'
              example:
                status: success
                data:
                  company: salesforce
                  product_name: Slack
                  rating: 4.5
                  star_distribution:
                    '1': 128
                    '2': 270
                    '3': 1239
                    '4': 7083
                    '5': 25056
                  reviews:
                  - review_id: 10674077
                    review_title: Easy to use enterprise communication platform
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
      - name: company
        in: query
        required: true
        schema:
          type: string
        description: Permalink of the company whose product reviews need to be fetched E.g. `"salesforce"`
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of product reviews to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Number of records to skip before starting to return results
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst requestOptions = {\n  method: \"GET\",\n  headers: myHeaders,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/company/product-reviews/?company=https://www.salesforce.com/&limit=5&offset=0\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_TOKEN\",\n    \"Content-Type\": \"application/json\"\n}\nresponse = requests.get(\n    \"https://api.wokelo.ai/api/enterprise/company/product-reviews/\",\n    headers=headers,\n    params={\"company\": \"salesforce\", \"limit\": 5, \"offset\": 0}\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request GET \\\n  --url 'https://api.wokelo.ai/api/enterprise/company/product-reviews/?company=salesforce&limit=5&offset=0' \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  req, _ := http.NewRequest(\"GET\",\n    \"https://api.wokelo.ai/api/enterprise/company/product-reviews/?company=salesforce&limit=5&offset=0\", nil)\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  body, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(body))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class ProductReviews {\n  public static void main(String[] args) throws Exception {\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/company/product-reviews/?company=salesforce&limit=5&offset=0\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .GET()\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
