openapi: 3.0.3
info:
  title: Industry Research
  description: Starts generating an Industry Research report for your specified industry.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/workflow_manager/start/:
    post:
      tags:
      - Workflow Automation
      summary: Industry Research
      description: Starts generating an Industry Research report for your specified industry.
      operationId: post_workflow_manager_industry_research
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: '[FROM EXAMPLE — not in formal docs schema] Report identifier returned when the workflow request succeeds.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example: &id001
                  report_id: 123345
              example: *id001
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Invalid payload. search query is required.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndustryResearchRequest'
            example:
              workflow: industry_primer
              industry: gaming
              workbook_name: Industry Research - Gaming
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Content-Type\", \"application/json\");\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\n\nconst raw = JSON.stringify({\n  \"workflow\": \"industry_primer\",\n  \"industry\": \"gaming\",\n  \"workbook_name\": \"Industry Research - Gaming\"\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/workflow_manager/start/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: 'import requests


          headers = {"Content-Type": "application/json", "Authorization": "Bearer YOUR_TOKEN"}

          payload = {"workflow": "industry_primer", "industry": "gaming", "workbook_name": "Industry Research - Gaming"}

          response = requests.post("https://api.wokelo.ai/api/workflow_manager/start/", headers=headers, json=payload)

          print(response.json())'
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/workflow_manager/start/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"workflow\":\"industry_primer\",\"industry\":\"gaming\",\"workbook_name\":\"Industry Research - Gaming\"}'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  payload := map[string]string{\"workflow\": \"industry_primer\", \"industry\": \"gaming\", \"workbook_name\": \"Industry Research - Gaming\"}\n  body, _ := json.Marshal(payload)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/workflow_manager/start/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class IndustryResearch {\n  public static void main(String[] args) throws Exception {\n    String body = \"{\\\"workflow\\\":\\\"industry_primer\\\",\\\"industry\\\":\\\"gaming\\\",\\\"workbook_name\\\":\\\"Industry Research - Gaming\\\"}\";\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/workflow_manager/start/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Workflow Automation
  description: Workflow-driven report generation endpoints.
components:
  schemas:
    IndustryResearchRequest:
      type: object
      properties:
        industry:
          type: string
          description: Industry on which the report will be created
        workflow:
          type: string
          description: '`industry_primer`'
          enum:
          - industry_primer
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report. Use fileName values from the file upload response
      description: '[FROM OFFICIAL DOCS] Industry Research variant with workflow=`industry_primer`.'
      required:
      - industry
      - workflow
      example:
        workflow: industry_primer
        industry: gaming
        workbook_name: Industry Research - Gaming
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
