openapi: 3.0.3
info:
  title: Industry Deep Intelligence
  description: The Industry Insights API generates structured insights for a given industry topic (e.g., *"Warehouse automation"*). Optionally, you can refine the output by specifying sections, keywords, geography, a custom industry definition, and sample companies. Returns a `request_id` as a response.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/industry/enrich/:
    post:
      tags:
      - Enrichment
      summary: Industry Deep Intelligence
      description: The Industry Insights API generates structured insights for a given industry topic (e.g., *"Warehouse automation"*). Optionally, you can refine the output by specifying sections, keywords, geography, a custom industry definition, and sample companies. Returns a `request_id` as a response.
      operationId: post_api_enterprise_industry_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/wkl-api/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from industry-deep-intelligence.md.'
                example: &id001
                  request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
              example: *id001
        '202':
          description: Industry Insights- 202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                - request_id
                - status
              example:
                request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
                status: PENDING
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: The industry topic to generate insights for (e.g. `"Enterprise SaaS security"`)
                sections:
                  type: array
                  items:
                    type: string
                  description: 'Sections to include in the report. Supported values: `market_size`, `quant_insights`, `trends_and_innovations`, `transactions_mna`, `transactions_fundraising`, `transactions_ipo`, `partnerships`, `tier1_intelligence`, `case_studies`, `industry_regulations`'
                parameters:
                  type: object
                  properties:
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords to focus the analysis on (e.g. `"zero trust"`, `"SIEM"`)
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope for the report. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
                    definition:
                      type: string
                      description: A custom definition of the industry to guide the report generation
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies in the industry
              description: '[FROM OFFICIAL DOCS] Request schema from industry-deep-intelligence.md.'
              required:
              - topic
            example:
              topic: Enterprise SaaS security
              sections:
              - market_size
              - trends_and_innovations
              - transactions_mna
              parameters:
                keywords:
                - zero trust
                - SIEM
                geography:
                - USA
                definition: B2B software focused on enterprise cybersecurity
                sample_companies:
                - crowdstrike
                - sentinel
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst raw = JSON.stringify({\n  \"topic\": \"Enterprise SaaS security\",\n  \"sections\": [\n    \"market_size\",\n    \"trends_and_innovations\",\n    \"transactions_mna\"\n  ],\n  \"parameters\": {\n    \"keywords\": [\n      \"zero trust\",\n      \"SIEM\"\n    ],\n    \"geography\": [\n      \"United States\"\n    ],\n    \"definition\": \"B2B software focused on enterprise cybersecurity\",\n    \"sample_companies\": [\n      \"crowdstrike\",\n      \"sentinel\"\n    ]\n  }\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/industry/enrich/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_TOKEN\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n    \"topic\": \"Enterprise SaaS security\",\n    \"sections\": [\"market_size\", \"trends_and_innovations\", \"transactions_mna\"],\n    \"parameters\": {\n        \"keywords\": [\"zero trust\", \"SIEM\"],\n        \"geography\": [\"USA\"],\n        \"definition\": \"B2B software focused on enterprise cybersecurity\",\n        \"sample_companies\": [\"crowdstrike\", \"sentinel\"]\n    }\n}\nresponse = requests.post(\n    \"https://api.wokelo.ai/api/enterprise/industry/enrich/\",\n    headers=headers, json=payload\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/enterprise/industry/enrich/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"topic\": \"Enterprise SaaS security\",\n    \"sections\": [\"market_size\", \"trends_and_innovations\", \"transactions_mna\"],\n    \"parameters\": {\n      \"keywords\": [\"zero trust\", \"SIEM\"],\n      \"geography\": [\"USA\"],\n      \"definition\": \"B2B software focused on enterprise cybersecurity\",\n      \"sample_companies\": [\"crowdstrike\", \"sentinel\"]\n    }\n  }'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  payload := map[string]interface{}{\n    \"topic\":    \"Enterprise SaaS security\",\n    \"sections\": []string{\"market_size\", \"trends_and_innovations\", \"transactions_mna\"},\n    \"parameters\": map[string]interface{}{\n      \"keywords\":         []string{\"zero trust\", \"SIEM\"},\n      \"geography\":        []string{\"USA\"},\n      \"definition\":       \"B2B software focused on enterprise cybersecurity\",\n      \"sample_companies\": []string{\"crowdstrike\", \"sentinel\"},\n    },\n  }\n  body, _ := json.Marshal(payload)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/enterprise/industry/enrich/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n\
          \  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class IndustryIntelligence {\n  public static void main(String[] args) throws Exception {\n    String body = \"\"\"\n        {\"topic\":\"Enterprise SaaS security\",\n         \"sections\":[\"market_size\",\"trends_and_innovations\",\"transactions_mna\"],\n         \"parameters\":{\"keywords\":[\"zero trust\",\"SIEM\"],\"geography\":[\"USA\"],\n         \"definition\":\"B2B software focused on enterprise cybersecurity\",\n         \"sample_companies\":[\"crowdstrike\",\"sentinel\"]}}\n        \"\"\";\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/industry/enrich/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n\
          \    System.out.println(response.body());\n  }\n}"
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
