openapi: 3.0.3
info:
  title: Employee Reviews
  description: Retrieves paginated employee reviews for a specified company, supporting configurable result limits and offsets for efficient data navigation. Returns a structured list of product reviews.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/enterprise/company/employee-reviews/:
    get:
      tags:
      - Enrichment
      summary: Employee Reviews
      description: Retrieves paginated employee reviews for a specified company, supporting configurable result limits and offsets for efficient data navigation. Returns a structured list of product reviews.
      operationId: get_api_enterprise_company_employee-reviews
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      company:
                        type: string
                      overview:
                        type: object
                        properties:
                          rating:
                            type: number
                          business_outlook_rating:
                            type: number
                          ceo_rating:
                            type: number
                          recommend_to_friend_rating:
                            type: number
                          compensation_and_benefits_rating:
                            type: number
                          culture_and_values_rating:
                            type: integer
                          diversity_and_inclusion_rating:
                            type: number
                          senior_management_rating:
                            type: number
                          work_life_balance_rating:
                            type: number
                        required:
                        - rating
                        - business_outlook_rating
                        - ceo_rating
                        - recommend_to_friend_rating
                        - compensation_and_benefits_rating
                        - culture_and_values_rating
                        - diversity_and_inclusion_rating
                        - senior_management_rating
                        - work_life_balance_rating
                    required:
                    - company
                    - overview
                required:
                - status
                - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in employee-reviews.md.'
              example:
                status: success
                data:
                  company: salesforce
                  overview:
                    rating: 4.1
                    business_outlook_rating: 0.71
                    ceo_rating: 0.82
                    recommend_to_friend_rating: 0.8
                    compensation_and_benefits_rating: 4.4
                    culture_and_values_rating: 4
                    diversity_and_inclusion_rating: 4.2
                    senior_management_rating: 3.6
                    work_life_balance_rating: 3.9
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
      - name: company
        in: query
        required: true
        schema:
          type: string
        description: Permalink of the company whose employee reviews need to be fetched E.g. `"salesforce"`
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of employee reviews to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Number of records to skip before starting to return results
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nconst requestOptions = {\n  method: \"GET\",\n  headers: myHeaders,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/enterprise/company/employee-reviews/?company=salesforce&limit=50&offset=0\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: "import requests\n\nheaders = {\n    \"Authorization\": \"Bearer YOUR_TOKEN\",\n    \"Content-Type\": \"application/json\"\n}\nresponse = requests.get(\n    \"https://api.wokelo.ai/api/enterprise/company/employee-reviews/\",\n    headers=headers,\n    params={\"company\": \"salesforce\", \"limit\": 50, \"offset\": 0}\n)\nprint(response.json())"
      - label: cURL
        lang: cURL
        source: "curl --request GET \\\n  --url 'https://api.wokelo.ai/api/enterprise/company/employee-reviews/?company=salesforce&limit=50&offset=0' \\\n  --header 'Authorization: Bearer YOUR_TOKEN'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  req, _ := http.NewRequest(\"GET\",\n    \"https://api.wokelo.ai/api/enterprise/company/employee-reviews/?company=salesforce&limit=50&offset=0\", nil)\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  body, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(body))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class EmployeeReviews {\n  public static void main(String[] args) throws Exception {\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/enterprise/company/employee-reviews/?company=salesforce&limit=50&offset=0\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .GET()\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Enrichment
  description: Company and industry enrichment capabilities.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  schemas:
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
