openapi: 3.0.3
info:
  title: Company Research
  description: Starts generating a Company Research report for a specific company.
  version: 2.0.0
  license:
    name: Proprietary
servers:
- url: https://api.wokelo.ai
paths:
  /api/workflow_manager/start/:
    post:
      tags:
      - Workflow Automation
      summary: Company Research
      description: Starts generating a Company Research report for a specific company.
      operationId: post_workflow_manager_company_research
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: '[FROM EXAMPLE — not in formal docs schema] Report identifier returned when the workflow request succeeds.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example: &id001
                  report_id: 123345
              example: *id001
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Invalid payload. search query is required.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyResearchRequest'
            example:
              workflow: company_primer
              permalink: wokelo-ai
              workbook_name: wokelo-ai
      security:
      - bearerAuth: []
      x-codeSamples:
      - label: JavaScript - Fetch
        lang: JavaScript
        source: "const myHeaders = new Headers();\nmyHeaders.append(\"Content-Type\", \"application/json\");\nmyHeaders.append(\"Authorization\", \"Bearer YOUR_TOKEN\");\n\nconst raw = JSON.stringify({\n  \"workflow\": \"company_primer\",\n  \"permalink\": \"wokelo-ai\",\n  \"workbook_name\": \"wokelo-ai\"\n});\n\nconst requestOptions = {\n  method: \"POST\",\n  headers: myHeaders,\n  body: raw,\n  redirect: \"follow\"\n};\n\nfetch(\"https://api.wokelo.ai/api/workflow_manager/start/\", requestOptions)\n  .then((response) => response.text())\n  .then((result) => console.log(result))\n  .catch((error) => console.error(error));"
      - label: Python
        lang: Python
        source: 'import requests


          headers = {"Content-Type": "application/json", "Authorization": "Bearer YOUR_TOKEN"}

          payload = {"workflow": "company_primer", "permalink": "wokelo-ai", "workbook_name": "wokelo-ai"}

          response = requests.post("https://api.wokelo.ai/api/workflow_manager/start/", headers=headers, json=payload)

          print(response.json())'
      - label: cURL
        lang: cURL
        source: "curl --request POST \\\n  --url https://api.wokelo.ai/api/workflow_manager/start/ \\\n  --header 'Authorization: Bearer YOUR_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"workflow\":\"company_primer\",\"permalink\":\"wokelo-ai\",\"workbook_name\":\"wokelo-ai\"}'"
      - label: Go
        lang: Go
        source: "package main\n\nimport (\n  \"bytes\"\n  \"encoding/json\"\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n)\n\nfunc main() {\n  payload := map[string]string{\"workflow\": \"company_primer\", \"permalink\": \"wokelo-ai\", \"workbook_name\": \"wokelo-ai\"}\n  body, _ := json.Marshal(payload)\n  req, _ := http.NewRequest(\"POST\", \"https://api.wokelo.ai/api/workflow_manager/start/\", bytes.NewBuffer(body))\n  req.Header.Set(\"Authorization\", \"Bearer YOUR_TOKEN\")\n  req.Header.Set(\"Content-Type\", \"application/json\")\n  resp, _ := http.DefaultClient.Do(req)\n  defer resp.Body.Close()\n  respBody, _ := io.ReadAll(resp.Body)\n  fmt.Println(string(respBody))\n}"
      - label: Java
        lang: Java
        source: "import java.net.URI;\nimport java.net.http.*;\n\npublic class CompanyResearch {\n  public static void main(String[] args) throws Exception {\n    String body = \"{\\\"workflow\\\":\\\"company_primer\\\",\\\"permalink\\\":\\\"wokelo-ai\\\",\\\"workbook_name\\\":\\\"wokelo-ai\\\"}\";\n    HttpRequest request = HttpRequest.newBuilder()\n        .uri(URI.create(\"https://api.wokelo.ai/api/workflow_manager/start/\"))\n        .header(\"Authorization\", \"Bearer YOUR_TOKEN\")\n        .header(\"Content-Type\", \"application/json\")\n        .POST(HttpRequest.BodyPublishers.ofString(body))\n        .build();\n    HttpResponse<String> response = HttpClient.newHttpClient()\n        .send(request, HttpResponse.BodyHandlers.ofString());\n    System.out.println(response.body());\n  }\n}"
tags:
- name: Workflow Automation
  description: Workflow-driven report generation endpoints.
components:
  schemas:
    CompanyResearchRequest:
      type: object
      properties:
        industry:
          type: string
          description: Company's industry. If not provided, Wokelo will auto-detect the industry
        permalink:
          type: string
          description: Crunchbase permalink of the company. Provide either this or `website`.
        website:
          type: string
          description: Website of the company. Provide either this or `permalink`.
        workflow:
          type: string
          description: '`company_primer`'
          enum:
          - company_primer
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report. Use `fileName` values from the file upload response
      description: '[FROM OFFICIAL DOCS] Company Research variant with workflow=`company_primer`.'
      required:
      - workflow
      example:
        workflow: company_primer
        permalink: wokelo-ai
        workbook_name: wokelo-ai
    CommonUnauthorizedError:
      type: object
      description: Generic authentication error returned when the request is missing a valid bearer token.
      properties:
        detail:
          type: string
        message:
          type: string
        error:
          type: string
      additionalProperties: true
      example:
        detail: Authentication credentials were not provided.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `Authorization: Bearer <JWT>` for authenticated requests. Obtain the token from `POST /auth/token/` and pass it in the request header.'
  responses:
    UnauthorizedError:
      description: Unauthorized. Include a valid bearer token from `/auth/token/`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonUnauthorizedError'
          example:
            detail: Authentication credentials were not provided.
