openapi: 3.0.3
info:
  title: Wokelo API
  description: |-
    Wokelo's API suite is purpose-built for developers building dealmaking AI infrastructure.
    It delivers structured, processed intelligence at the quality standard investment and
    advisory workflows demand.

    This 2.0.0 release aligns the canonical OpenAPI with the current official Wokelo docs,
    Postman collection, and the 26 standalone capability specifications stored under `sources/`.

    - Entities resolved across a proprietary database of 20M+ public and private companies.
    - News signals deduplicated across 1,000+ curated sources.
    - Every output is agent-native, source-traced, and ready to plug directly into your models,
      agents, and workflows without additional processing.
  version: 2.0.0
  contact:
    name: Wokelo
    url: https://wokelo.ai
    email: support@wokelo.ai
  license:
    name: Proprietary
    url: https://wokelo.ai/terms
servers:
  - url: https://api.wokelo.ai
security:
  - bearerAuth: []
tags:
  - name: Authentication
    description: Token issuance and authentication entry points.
  - name: Enrichment
    description: Company and industry enrichment capabilities.
  - name: Discovery
    description: Discovery workflows such as market maps and screening.
  - name: Monitoring
    description: Monitoring and legacy news-report workflows.
  - name: Workflow Automation
    description: Workflow-driven report generation endpoints.
  - name: Supporting APIs
    description: Supporting endpoints for uploads, status, downloads, and configuration.
paths:
  /api/assets/get_notebook_status/:
    get:
      tags:
        - Supporting APIs
      summary: Get Report Status
      description: 'Source docs: get-report-status.md'
      operationId: get_api_assets_get_notebook_status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                  status:
                    type: string
                  title:
                    type: string
                required:
                  - report_id
                  - status
                  - title
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in get-report-status.md.'
              example:
                report_id: 98564
                status: Delayed
                title: One Signal
        '400':
          description: Notebooks Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              example:
                message: No data found for the given report_id.
        '401':
          description: Notebooks Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                required:
                  - detail
              example:
                detail: Authentication credentials were not provided.
        '403':
          description: Notebooks Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              example:
                message: You are not authorized to access this report.
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Get Report Status
      parameters:
        - name: report_id
          in: query
          required: true
          schema:
            type: integer
          description: The id returned in response to the start report request
      security:
        - bearerAuth: []
  /api/enterprise/company/earnings-calls/:
    get:
      tags:
        - Enrichment
      summary: Company Earnings Transcripts
      description: 'Source docs: earnings-transcripts.md'
      operationId: get_api_enterprise_company_earnings-calls
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        transcript_title:
                          type: string
                        transcript_name:
                          type: string
                        ticker:
                          type: string
                        transcript_url:
                          type: string
                        date:
                          type: string
                        year:
                          type: integer
                        quarter:
                          type: integer
                        transcript_data:
                          type: object
                          properties:
                            date:
                              type: string
                            participant:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  role:
                                    type: string
                                  pro_id:
                                    type: integer
                                  job_title:
                                    type: string
                                  description:
                                    type: string
                                  company_name:
                                    type: string
                                  transcript_person_id:
                                    type: integer
                                required:
                                  - name
                                  - role
                                  - pro_id
                                  - job_title
                                  - description
                                  - company_name
                                  - transcript_person_id
                            transcript:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  speech:
                                    type: string
                                  session:
                                    type: string
                                  person_id:
                                    type: integer
                                  person_company: {}
                                  component_order:
                                    type: integer
                                required:
                                  - name
                                  - speech
                                  - session
                                  - person_id
                                  - person_company
                                  - component_order
                            title:
                              type: string
                            quarter:
                              type: integer
                            year:
                              type: integer
                          required:
                            - date
                            - participant
                            - transcript
                            - title
                            - quarter
                            - year
                      required:
                        - transcript_title
                        - transcript_name
                        - ticker
                        - transcript_url
                        - date
                        - year
                        - quarter
                        - transcript_data
                  count:
                    type: integer
                  from_year:
                    type: integer
                  to_year:
                    type: integer
                required:
                  - status
                  - data
                  - count
                  - from_year
                  - to_year
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in earnings-transcripts.md.'
              example:
                status: success
                data:
                  - transcript_title: Tesla, Inc. - Q4 2023
                    transcript_name: Tesla, Inc., Q4 2023 Earnings Call, Jan 24, 2024
                    ticker: NASDAQ:TSLA
                    transcript_url: https://wkarticles.blob.core.windows.net/finnhub/snp_transcript_3003051
                    date: '2024-01-24'
                    year: 2023
                    quarter: 4
                    transcript_data:
                      date: '2024-01-24'
                      participant:
                        - name: Adam Jonas
                          role: Analysts
                          pro_id: 29412103
                          job_title: MD & Head of Global Auto & Shared Mobility Research
                          description: Analysts
                          company_name: Morgan Stanley, Research Division
                          transcript_person_id: 118469
                        - name: Colin Langan
                          role: Analysts
                          pro_id: 710566519
                          job_title: Senior Equity Analyst
                          description: Analysts
                          company_name: Wells Fargo Securities, LLC, Research Division
                          transcript_person_id: 480193
                        - name: Dan Levy
                          role: Analysts
                          pro_id: 214533139
                          job_title: Senior Analyst
                          description: Analysts
                          company_name: Barclays Bank PLC, Research Division
                          transcript_person_id: 253177
                      transcript:
                        - name: Martin Viecha
                          speech: "Good afternoon, everyone, and welcome to Tesla's Fourth Quarter 2023 Q&A Webcast. My name is Martin Viecha, VP of Investor Relations, and I'm joined today by Elon Musk, Vaibhav Taneja, and a number of other executives. Our Q4 results were announced at about 3:00 p.m. Central Time in the update deck we published at the same link as this webcast.\r\nDuring this call, we will discuss our business outlook and make forward-looking statements. These comments are based on our predictions and expectations... [truncated]"
                          session: Presenter Speech
                          person_id: 370659
                          person_company: null
                          component_order: 0
                        - name: Elon Musk
                          speech: Thank you. So the Tesla team did an incredible job in 2023. We achieved record production and deliveries of [ about ] 1.8 million vehicles, in line with our official guidance. And in Q4, we're producing vehicles at an annualized run rate of almost 2 million cars a year. This is really a phenomenal achievement. Looking at just the Fremont factory alone, we made 560,000 cars. This is a record. In fact, it's the highest output of automotive plant in North America. And people are often surprised tha... [truncated]
                          session: Presenter Speech
                          person_id: 175883
                          person_company: null
                          component_order: 1
                        - name: Martin Viecha
                          speech: Thank you. And our CFO, Vaibhav, has opening remarks as well.
                          session: Presenter Speech
                          person_id: 370659
                          person_company: null
                          component_order: 2
                      title: Tesla, Inc., Q4 2023 Earnings Call, Jan 24, 2024
                      quarter: 4
                      year: 2023
                  - transcript_title: Tesla, Inc. - Q3 2023
                    transcript_name: Tesla, Inc., Q3 2023 Earnings Call, Oct 18, 2023
                    ticker: NASDAQ:TSLA
                    transcript_url: https://wkarticles.blob.core.windows.net/finnhub/snp_transcript_3078546
                    date: '2024-04-03'
                    year: 2023
                    quarter: 3
                    transcript_data:
                      date: '2024-04-03'
                      participant:
                        - name: Colin Langan
                          role: Analysts
                          pro_id: 710566519
                          job_title: Senior Equity Analyst
                          description: Analysts
                          company_name: Wells Fargo Securities, LLC, Research Division
                          transcript_person_id: 480193
                        - name: Drew Baglino
                          role: Executives
                          pro_id: 621069668
                          job_title: Former Senior Vice President of Powertrain & Energy Engineering
                          description: Executives
                          company_name: Tesla, Inc.
                          transcript_person_id: 393478
                        - name: Elon Musk
                          role: Executives
                          pro_id: 27546373
                          job_title: Co-Founder, Technoking of Tesla, CEO & Director
                          description: Executives
                          company_name: Tesla, Inc.
                          transcript_person_id: 175883
                      transcript:
                        - name: Martin Viecha
                          speech: Good afternoon, everyone and welcome to Tesla's Third Quarter 2023 Q&A Webcast. My name is Martin Viecha, VP of Investor Relations, and I'm joined today by Elon Musk, Vaibhav Taneja and a number of other executives. Our Q3 results were announced at about 3:00 p.m. Central Time in the update that we published at the same link as this webcast. During this call, we will discuss our business outlook and make forward-looking statements. These comments are based on our predictions and expectations as ... [truncated]
                          session: Presenter Speech
                          person_id: 370659
                          person_company: null
                          component_order: 0
                        - name: Elon Musk
                          speech: Thanks, Martin. So just a Q3 recap. Our last quarter was impacted by down time for global factory upgrades that will help us reduce cost per vehicle as well as increase production. We remain focused on 3 main objectives which is the cost reduction of our products, investments in artificial intelligence, and other growth projects like Optimus. And continued free cash flow generation. Regarding vehicle cost, our team was able to reduce the cost per vehicle further in Q3 despite headwinds from fact... [truncated]
                          session: Presenter Speech
                          person_id: 175883
                          person_company: null
                          component_order: 1
                        - name: Martin Viecha
                          speech: Thank you very much, Elon. And our CFO, Vaibhav, had some opening remarks as well.
                          session: Presenter Speech
                          person_id: 370659
                          person_company: null
                          component_order: 2
                      title: Tesla, Inc., Q3 2023 Earnings Call, Oct 18, 2023
                      quarter: 3
                      year: 2023
                  - transcript_title: Tesla, Inc. - Q2 2023
                    transcript_name: Tesla, Inc., Q2 2023 Earnings Call, Jul 19, 2023
                    ticker: NASDAQ:TSLA
                    transcript_url: https://wkarticles.blob.core.windows.net/finnhub/snp_transcript_2854174
                    date: '2023-07-19'
                    year: 2023
                    quarter: 2
                    transcript_data:
                      date: '2023-07-19'
                      participant:
                        - name: Colin Rusch
                          role: Analysts
                          pro_id: 311020585
                          job_title: MD & Senior Analyst and Head of Sustainable Growth & Resource Optimization
                          description: Analysts
                          company_name: Oppenheimer & Co. Inc., Research Division
                          transcript_person_id: 310676
                        - name: Dan Levy
                          role: Analysts
                          pro_id: 214533139
                          job_title: Senior Analyst
                          description: Analysts
                          company_name: Barclays Bank PLC, Research Division
                          transcript_person_id: 253177
                        - name: Drew Baglino
                          role: Executives
                          pro_id: 621069668
                          job_title: Former Senior Vice President of Powertrain & Energy Engineering
                          description: Executives
                          company_name: Tesla, Inc.
                          transcript_person_id: 393478
                      transcript:
                        - name: Martin Viecha
                          speech: "Good afternoon, everyone, and welcome to Tesla's Second Quarter 2023 Q&A Webcast. My name is Martin Viecha, I'm VP of Investor Relations, and I'm joined today by Elon Musk, Zachary Kirkhorn and a number of other executives. \r\nOur Q2 results were announced at about 3 p.m. Central Time in the update deck we published at the same link as this webcast. During this call, we will discuss our business outlook and make forward-looking statements. These comments are based on our predictions and expectati... [truncated]"
                          session: Presenter Speech
                          person_id: 370659
                          person_company: null
                          component_order: 0
                        - name: Elon Musk
                          speech: "Thank you, Martin. So just a Q2 recap. In Q2, we achieved record vehicle production and deliveries and record revenue of about $25 billion in a single quarter. And Model Y became the best-selling vehicle of any kind globally in Q1, surpassing the likes of Corolla and Gulf. So it was the #1 vehicle of any kind, including vehicles that are sold at a far lower price. This is, I think, an incredible achievement by the Tesla team, and just a huge thank you to our customers for their support. \r\nSo thi... [truncated]"
                          session: Presenter Speech
                          person_id: 175883
                          person_company: null
                          component_order: 1
                        - name: Martin Viecha
                          speech: Thank you very much, Elon. And I think Zach has some opening remarks as well.
                          session: Presenter Speech
                          person_id: 370659
                          person_company: null
                          component_order: 2
                      title: Tesla, Inc., Q2 2023 Earnings Call, Jul 19, 2023
                      quarter: 2
                      year: 2023
                count: 12
                from_year: 2021
                to_year: 2023
      x-source-variants:
        - group_path: Enrichment
          request_name: Company Earnings Transcripts
      parameters:
        - name: company
          in: query
          required: true
          schema:
            type: string
          description: Permalink or URL of the company. E.g. `"salesforce"`
        - name: from_year
          in: query
          required: false
          schema:
            type: integer
          description: Start year of the date range.
        - name: to_year
          in: query
          required: false
          schema:
            type: integer
          description: End year of the date range.
      security:
        - bearerAuth: []
  /api/enterprise/company/employee-reviews/:
    get:
      tags:
        - Enrichment
      summary: Employee Reviews
      description: 'Source docs: employee-reviews.md'
      operationId: get_api_enterprise_company_employee-reviews
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      company:
                        type: string
                      overview:
                        type: object
                        properties:
                          rating:
                            type: number
                          business_outlook_rating:
                            type: number
                          ceo_rating:
                            type: number
                          recommend_to_friend_rating:
                            type: number
                          compensation_and_benefits_rating:
                            type: number
                          culture_and_values_rating:
                            type: integer
                          diversity_and_inclusion_rating:
                            type: number
                          senior_management_rating:
                            type: number
                          work_life_balance_rating:
                            type: number
                        required:
                          - rating
                          - business_outlook_rating
                          - ceo_rating
                          - recommend_to_friend_rating
                          - compensation_and_benefits_rating
                          - culture_and_values_rating
                          - diversity_and_inclusion_rating
                          - senior_management_rating
                          - work_life_balance_rating
                    required:
                      - company
                      - overview
                required:
                  - status
                  - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in employee-reviews.md.'
              example:
                status: success
                data:
                  company: salesforce
                  overview:
                    rating: 4.1
                    business_outlook_rating: 0.71
                    ceo_rating: 0.82
                    recommend_to_friend_rating: 0.8
                    compensation_and_benefits_rating: 4.4
                    culture_and_values_rating: 4
                    diversity_and_inclusion_rating: 4.2
                    senior_management_rating: 3.6
                    work_life_balance_rating: 3.9
      x-source-variants:
        - group_path: Enrichment
          request_name: Employee Reviews
      parameters:
        - name: company
          in: query
          required: true
          schema:
            type: string
          description: Permalink of the company whose employee reviews need to be fetched E.g. `"salesforce"`
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Maximum number of employee reviews to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Number of records to skip before starting to return results
      security:
        - bearerAuth: []
  /api/enterprise/company/filings/:
    get:
      tags:
        - Enrichment
      summary: Company Filings
      description: 'Source docs: company-filings.md'
      operationId: get_api_enterprise_company_filings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        symbol:
                          type: string
                        form:
                          type: string
                        filedDate:
                          type: string
                        acceptedDate:
                          type: string
                        reportUrl:
                          type: string
                        filingUrl:
                          type: string
                        filingData:
                          type: string
                      required:
                        - title
                        - symbol
                        - form
                        - filedDate
                        - acceptedDate
                        - reportUrl
                        - filingUrl
                        - filingData
                  count:
                    type: integer
                  from_year:
                    type: integer
                  to_year:
                    type: integer
                  form:
                    type: string
                required:
                  - status
                  - data
                  - count
                  - from_year
                  - to_year
                  - form
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in company-filings.md.'
              example:
                status: success
                data:
                  - title: TSLA 10-K January 2023
                    symbol: TSLA
                    form: 10-K
                    filedDate: '2023-01-31 00:00:00'
                    acceptedDate: '2023-01-31 02:29:15'
                    reportUrl: https://www.sec.gov/Archives/edgar/data/1318605/000095017023001409/tsla-20221231.htm
                    filingUrl: https://www.sec.gov/Archives/edgar/data/1318605/000095017023001409/0000950170-23-001409-index.html
                    filingData: <html xmlns="http://www.w3.org/1999/xhtml" xmlns:xbrldi="http://xbrl.org/2006/xbrldi" xmlns:xbrldt="http://xbrl.org/2005/xbrldt" xmlns:xbrli="http://www.xbrl.org/2003/instance" xmlns:link="http://www.xbrl.org/2003/linkbase" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ix="http://www.xbrl.org/2013/inlineXBRL" xmlns:nonnumeric="http://www.xbrl.org/dtr/type/non-numeric" xmlns:ixt="http://www.xbrl.org/inlineXBRL/transformation/2015-02-26" xmlns:ixt-sec="http://www.sec.gov/inlineXBRL/transformati... [truncated]
                count: 1
                from_year: 2023
                to_year: 2023
                form: 10-K
      x-source-variants:
        - group_path: Enrichment
          request_name: Company Filings
      parameters:
        - name: company
          in: query
          required: true
          schema:
            type: string
          description: Permalink/ URL of the company whose filings need to be fetched E.g. `"salesforce"`
        - name: form
          in: query
          required: false
          schema:
            type: string
          description: 'SEC form type to filter by. Supported values: 10-K, 10-Q, 8-K'
        - name: from_year
          in: query
          required: false
          schema:
            type: integer
          description: Start year for the date range
        - name: to_year
          in: query
          required: false
          schema:
            type: integer
          description: End year for the date range
      security:
        - bearerAuth: []
  /api/enterprise/company/news/:
    get:
      tags:
        - Monitoring
      summary: Company News Monitoring
      description: 'Source docs: company-news-monitoring.md'
      operationId: get_api_enterprise_company_news
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: '`"success"` if the request was processed successfully.'
                  data:
                    type: array
                    items: {}
                    description: List of news
                  count:
                    type: integer
                    description: Total number of results returned.
                description: '[FROM OFFICIAL DOCS] Response schema from company-news-monitoring.md.'
                example:
                  status: success
                  data:
                    - ai_summary: 'Nordea Investment Management AB reduced its stake in Tesla, Inc. by 8.4% in the fourth quarter, according to its SEC filing. Several institutional investors increased their holdings, and Tesla reported quarterly earnings with a net margin of 4%, revenue of $24.90 billion, and an EPS of $0.50. '
                      type: Secondary Transactions
                      url: https://www.defenseworld.net/2026/03/23/nordea-investment-management-ab-lowers-position-in-tesla-inc-tsla.html
                      title: Nordea Investment Management AB Lowers Position in Tesla, Inc. $TSLA
                      company_name: Tesla
                      publisher: defenseworld
                      published_date: '2026-03-23 10:52:44'
                      source: Wokelo
                      author: Defense World Staff
                      countries:
                        - USA
                      sentiment: Neutral
                      primary_tag: Secondary Transactions
                      original_language: EN
                      secondary_tags:
                        - Earnings Releases
                        - Revenue & Growth Metrics
                        - Guidance & Forecast Revisions
                      newsworthiness_impact: Medium
                  count: 4
              example:
                status: success
                data:
                  - ai_summary: 'Nordea Investment Management AB reduced its stake in Tesla, Inc. by 8.4% in the fourth quarter, according to its SEC filing. Several institutional investors increased their holdings, and Tesla reported quarterly earnings with a net margin of 4%, revenue of $24.90 billion, and an EPS of $0.50. '
                    type: Secondary Transactions
                    url: https://www.defenseworld.net/2026/03/23/nordea-investment-management-ab-lowers-position-in-tesla-inc-tsla.html
                    title: Nordea Investment Management AB Lowers Position in Tesla, Inc. $TSLA
                    company_name: Tesla
                    publisher: defenseworld
                    published_date: '2026-03-23 10:52:44'
                    source: Wokelo
                    author: Defense World Staff
                    countries:
                      - USA
                    sentiment: Neutral
                    primary_tag: Secondary Transactions
                    original_language: EN
                    secondary_tags:
                      - Earnings Releases
                      - Revenue & Growth Metrics
                      - Guidance & Forecast Revisions
                    newsworthiness_impact: Medium
                count: 4
      x-source-variants:
        - group_path: Monitoring
          request_name: Company News Monitoring
      parameters:
        - name: blacklisted
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of publisher domains to exclude from results.
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of news categories to filter by. [View](https://wkemails.blob.core.windows.net/clients/%28%27808dda00-141d-4952-b44c-c50bd41c2ce3%27%2C%29/news_category_names.csv) complete list of all the supported news categories.
        - name: company
          in: query
          required: true
          schema:
            type: string
          description: Company permalink or a valid company URL for which news articles need to be fetched (e.g., `tesla` or `https://www.tesla.com/`)
        - name: end_date
          in: query
          required: false
          schema:
            type: string
          description: End date for the timeframe to consider when fetching news (e.g., `2024-12-31`)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Maximum number of news articles to return Default = 100 Max value= 1000
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Number of news to skip before starting to return results
        - name: publishers
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of publisher domains whose articles will be included.
        - name: start_date
          in: query
          required: false
          schema:
            type: string
          description: Start date for the timeframe to consider when fetching news (e.g., `2024-01-01`)
      security:
        - bearerAuth: []
  /api/enterprise/company/product-reviews/:
    get:
      tags:
        - Enrichment
      summary: Product Reviews
      description: 'Source docs: product-reviews.md'
      operationId: get_api_enterprise_company_product-reviews
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      company:
                        type: string
                      product_name:
                        type: string
                      rating:
                        type: number
                      star_distribution:
                        type: object
                        properties:
                          '1':
                            type: integer
                          '2':
                            type: integer
                          '3':
                            type: integer
                          '4':
                            type: integer
                          '5':
                            type: integer
                        required:
                          - '1'
                          - '2'
                          - '3'
                          - '4'
                          - '5'
                      reviews:
                        type: array
                        items:
                          type: object
                          properties:
                            review_id:
                              type: integer
                            review_title:
                              type: string
                          required:
                            - review_id
                            - review_title
                    required:
                      - company
                      - product_name
                      - rating
                      - star_distribution
                      - reviews
                required:
                  - status
                  - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in product-reviews.md.'
              example:
                status: success
                data:
                  company: salesforce
                  product_name: Slack
                  rating: 4.5
                  star_distribution:
                    '1': 128
                    '2': 270
                    '3': 1239
                    '4': 7083
                    '5': 25056
                  reviews:
                    - review_id: 10674077
                      review_title: Easy to use enterprise communication platform
      x-source-variants:
        - group_path: Enrichment
          request_name: Product Reviews
      parameters:
        - name: company
          in: query
          required: true
          schema:
            type: string
          description: Permalink of the company whose product reviews need to be fetched E.g. `"salesforce"`
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Maximum number of product reviews to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Number of records to skip before starting to return results
      security:
        - bearerAuth: []
  /api/enterprise/company/search:
    get:
      tags:
        - Supporting APIs
      summary: Company Search
      description: 'Source docs: company-search.md'
      operationId: get_api_enterprise_company_search
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: '`"success"` if the request was processed successfully.'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Company name.
                        permalink:
                          type: string
                          description: Unique identifier/slug for the company.
                        short_description:
                          type: string
                          description: Brief description of the company.
                        founded_year:
                          type: string
                          description: Year the company was founded.
                        ipo_status:
                          type: string
                          description: IPO status (e.g., `private`, `public`).
                        hq:
                          type: string
                          description: Headquarters location.
                        industries:
                          type: string
                          description: Industry or sector the company operates in.
                        website:
                          type: string
                          description: Company website URL.
                        ticker:
                          type: string
                          description: Stock ticker symbol (if applicable).
                        country_code:
                          type: string
                          description: ISO country code.
                        country:
                          type: string
                          description: Full country name.
                        domain:
                          type: string
                          description: Company domain name.
                        last_funding_round:
                          type: string
                          description: Most recent funding round (e.g., `Seed`, `Pre Seed` etc)
                    description: List of matching company objects.
                  count:
                    type: integer
                    description: Total number of results returned.
                description: '[FROM OFFICIAL DOCS] Response schema from company-search.md.'
                example:
                  status: success
                  data:
                    - name: Wokelo AI
                      permalink: wokelo-ai
                      short_description: Wokelo builds purpose-built AI agents for dealmaking and consulting.
                      founded_year: '2023'
                      ipo_status: private
                      hq: Seattle, United States
                      industries: AI Investment Research Platform
                      website: https://www.wokelo.ai/
                      ticker: ''
                      country_code: US
                      country: United States
                      domain: wokelo.ai
                      last_funding_round: Seed
                  count: 10
              example:
                status: success
                data:
                  - name: Wokelo AI
                    permalink: wokelo-ai
                    short_description: Wokelo builds purpose-built AI agents for dealmaking and consulting.
                    founded_year: '2023'
                    ipo_status: private
                    hq: Seattle, United States
                    industries: AI Investment Research Platform
                    website: https://www.wokelo.ai/
                    ticker: ''
                    country_code: US
                    country: United States
                    domain: wokelo.ai
                    last_funding_round: Seed
                count: 10
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Company Search
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: 'The search query string (e.g., company name, website or ticker). Examples: Tesla OR `https://tesla.com` OR TSLA'
        - name: search_by
          in: query
          required: false
          schema:
            type: string
          description: 'Field to search by. Supported value: `name`, `website`, `ticker`'
        - name: company_type
          in: query
          required: false
          schema:
            type: string
          description: 'Filter by company type. Supported values: `private`, `public`, `all` Note: Use `all` to return all types. (This is the default value is nothing is mentioned)'
      security:
        - bearerAuth: []
  /api/enterprise/request/result/:
    get:
      tags:
        - Supporting APIs
      summary: Request Result
      description: 'Source docs: request-result.md'
      operationId: get_api_enterprise_request_result
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Request ID of the initiated request
                  status:
                    type: string
                    description: Status of the request
                  result:
                    type: array
                    items: {}
                    description: Result depending on the request
                description: '[FROM OFFICIAL DOCS] Response schema from request-result.md.'
                example:
                  request_id: d7a78d10-663a-493f-9b79-be1e6094f3bb
                  status: COMPLETED
                  result:
                    - tesla-motors:
                        firmographics:
                          name: Tesla
                          website: https://www.tesla.com
                          location: Austin, United States
                          founded: 2003
                          type: public
                          operating_status: IPO
                          ticker: NASDAQ:TSLA
              example:
                request_id: d7a78d10-663a-493f-9b79-be1e6094f3bb
                status: COMPLETED
                result:
                  - tesla-motors:
                      firmographics:
                        name: Tesla
                        website: https://www.tesla.com
                        location: Austin, United States
                        founded: 2003
                        type: public
                        operating_status: IPO
                        ticker: NASDAQ:TSLA
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Request Result
      parameters:
        - name: request_id
          in: query
          required: true
          schema:
            type: string
          description: 'The unique identifier of the async request whose status is being checked. Example: `11db67b6-8345-4837-950f-87bbd8d7dcbe`'
      security:
        - bearerAuth: []
  /api/enterprise/request/status/:
    get:
      tags:
        - Supporting APIs
      summary: Request Status
      description: 'Source docs: request-status.md'
      operationId: get_api_enterprise_request_status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                  request_type:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                required:
                  - request_id
                  - status
                  - request_type
                  - created_at
                  - updated_at
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in request-status.md.'
              example:
                request_id: b1f10ebf-a251-4e2d-b867-8482ac701987
                status: COMPLETED
                request_type: target_screening
                created_at: '2026-03-25T07:24:40.333168Z'
                updated_at: '2026-03-25T07:30:41.503082Z'
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Request Status
      parameters:
        - name: request_id
          in: query
          required: true
          schema:
            type: string
          description: 'The unique identifier of the request whose status is being checked. Example: `11db67b6-8345-4837-950f-87bbd8d7dcbe`'
      security:
        - bearerAuth: []
  /api/assets/download_report/:
    post:
      tags:
        - Supporting APIs
      summary: Download Report
      description: 'Source docs: download-report.md'
      operationId: post_api_assets_download_report
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Executive Summary:
                    type: object
                    properties:
                      Executive Summary:
                        type: object
                        properties:
                          summary:
                            type: object
                            properties:
                              source:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    title:
                                      type: string
                                    url:
                                      type: string
                                    publisher:
                                      type: string
                                    date:
                                      type: string
                                  required:
                                    - id
                                    - title
                                    - url
                                    - publisher
                                    - date
                            required:
                              - source
                        required:
                          - summary
                    required:
                      - Executive Summary
                required:
                  - Executive Summary
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in download-report.md.'
              example:
                Executive Summary:
                  Executive Summary:
                    summary:
                      source:
                        - id: 1
                          title: openPR.com L4 Self-driving Vehicle Market Current Status and Future Prospects till 2033
                          url: https://www.openpr.com/news/4132700/l4-self-driving-vehicle-market-current-status-and-future
                          publisher: ''
                          date: ''
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Download Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_type:
                  type: string
                  description: 'Export format. Permitted values: "pdf", "docx", "json"'
                report_id:
                  type: integer
                  description: Id of the report to be exported
              description: '[FROM OFFICIAL DOCS] Request schema from download-report.md.'
              required:
                - file_type
                - report_id
      security:
        - bearerAuth: []
  /api/assets/upload/:
    post:
      tags:
        - Supporting APIs
      summary: Upload file
      description: 'Source docs: upload-file.md'
      operationId: post_api_assets_upload
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Overall upload status (success or error)
                  success:
                    type: array
                    items:
                      type: object
                      properties:
                        fileName:
                          type: string
                          description: Wokelo's unique file identifier—use this in the `custom_files` parameter when creating reports
                        originalName:
                          type: string
                          description: '[FROM EXAMPLE — not in formal docs schema] Original uploaded filename returned for each successful file.'
                        mimeType:
                          type: string
                          description: Detected file type/format
                        uuid:
                          type: string
                          description: '[FROM EXAMPLE — not in formal docs schema] Caller-provided UUID echoed back for each successful file when supplied.'
                    description: Array containing information on successfully uploaded files
                  fails:
                    type: array
                    items:
                      type: object
                      properties:
                        reason:
                          type: string
                          description: '[FROM EXAMPLE — not in formal docs schema] Reason given for each failed upload item when present.'
                    description: Array containing information about failed uploads (empty on success)
                description: '[FROM OFFICIAL DOCS] Response schema from upload-file.md.'
                example:
                  status: success
                  success:
                    - fileName: file_116e55ec-041d-4c1e-897c-3adef1576a09
                      originalName: lemonade.pdf
                      mimeType: pdf
                      uuid: a7f4b9e2c3
                    - fileName: file_e30c7d3f-8bed-46b2-ae9c-eebc879323cc
                      originalName: lemonade_diligence.pdf
                      mimeType: pdf
                      uuid: k3m8n5p1q6
                  fails: []
              example:
                status: success
                success:
                  - fileName: file_116e55ec-041d-4c1e-897c-3adef1576a09
                    originalName: lemonade.pdf
                    mimeType: pdf
                    uuid: a7f4b9e2c3
                  - fileName: file_e30c7d3f-8bed-46b2-ae9c-eebc879323cc
                    originalName: lemonade_diligence.pdf
                    mimeType: pdf
                    uuid: k3m8n5p1q6
                fails: []
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Upload file
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Array of files to be uploaded
                fileUUID:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Your own UUIDs to track files. Must match the length and order of the `files` array. These UUIDs will be returned in the response alongside Wokelo's `fileName` identifiers.
              description: '[FROM OFFICIAL DOCS] Multipart upload payload.'
              required:
                - files
            encoding:
              files:
                style: form
                explode: true
              fileUUID:
                style: form
                explode: true
      security:
        - bearerAuth: []
  /api/enterprise/buyer-screening/enrich/:
    post:
      tags:
        - Discovery
      summary: Buyer Screening
      description: 'Source docs: buyer-screening.md'
      operationId: post_api_enterprise_buyer-screening_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/enterprise/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from buyer-screening.md.'
                example:
                  request_id: 278412f8-87ca-47a9-9d1c-4a62a687eaf6
              example:
                request_id: 278412f8-87ca-47a9-9d1c-4a62a687eaf6
        '202':
          description: Company Grid Buyer Screening-202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                  - request_id
                  - status
              example:
                request_id: 278412f8-87ca-47a9-9d1c-4a62a687eaf6
                status: PENDING
      x-source-variants:
        - group_path: Discovery
          request_name: Buyer Screening
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  description: 'Permalink of the target company or its complete URL Example: `"acme-solar"` OR `https://www.acmesolar.in/`'
                parameters:
                  type: object
                  properties:
                    detailed_query:
                      type: string
                      description: A descriptive query to refine the buyer search scope and strategic criteria
                    buyer_type:
                      type: array
                      items: {}
                      description: 'Type of buyer to target. Accepted values: `"strategic"`, `"financial"`'
                    company_type:
                      type: string
                      description: 'Type of company to include. Accepted values: `"private"`, `"public"`, `"all"`'
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
              description: '[FROM OFFICIAL DOCS] Request schema from buyer-screening.md.'
              required:
                - company
      security:
        - bearerAuth: []
  /api/enterprise/company/enrich/:
    post:
      tags:
        - Enrichment
      summary: Enrich a company profile (instant or deep).
      description: 'Merged operation for the two documented company enrichment variants. Use the documented `sections` vocabulary to select the variant family. Source docs: company-deep-intelligence.md, company-instant-enrichment.md'
      operationId: post_api_enterprise_company_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: '[FROM EXAMPLE — not in formal docs schema] Request identifier returned when the enrichment job is accepted.'
                  status:
                    type: string
                    description: '[FROM EXAMPLE — not in formal docs schema] Async processing status returned with the request identifier.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-deep-intelligence.md.'
                example:
                  request_id: 3c945250-a3e8-4673-b342-2ceb03af5b02
                  status: PENDING
              example:
                request_id: 3c945250-a3e8-4673-b342-2ceb03af5b02
                status: PENDING
        '202':
          description: Company Enrichment- 202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                  - request_id
                  - status
              example:
                request_id: 931643e9-b6c7-45d4-9ba9-bd3b534221e7
                status: PENDING
        '400':
          description: Company Enrichment- 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  invalid:
                    type: array
                    items:
                      type: string
                required:
                  - error
                  - invalid
              example:
                error: Invalid companies not found in database
                invalid:
                  - Tesla
      x-source-variants:
        - group_path: Enrichment
          request_name: Company Instant Enrichment
        - group_path: Enrichment
          request_name: Company Deep Intelligence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CompanyInstantEnrichmentRequest'
                - $ref: '#/components/schemas/CompanyDeepIntelligenceRequest'
              discriminator:
                propertyName: sections
                mapping:
                  firmographics: '#/components/schemas/CompanyInstantEnrichmentRequest'
                  products_and_services: '#/components/schemas/CompanyDeepIntelligenceRequest'
              description: '[FROM OFFICIAL DOCS] Company enrichment union request body. Variant selection is based on the documented `sections` vocabulary.'
      security:
        - bearerAuth: []
  /api/enterprise/industry/enrich/:
    post:
      tags:
        - Enrichment
      summary: Industry Deep Intelilgence
      description: 'Source docs: industry-deep-intelligence.md'
      operationId: post_api_enterprise_industry_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/wkl-api/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from industry-deep-intelligence.md.'
                example:
                  request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
              example:
                request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
        '202':
          description: Industry Insights- 202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                  - request_id
                  - status
              example:
                request_id: c574254f-137d-40d5-84f1-ac8fa38b8aa7
                status: PENDING
      x-source-variants:
        - group_path: Enrichment
          request_name: Industry Deep Intelilgence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: The industry topic to generate insights for (e.g. `"Enterprise SaaS security"`)
                sections:
                  type: array
                  items:
                    type: string
                  description: 'Sections to include in the report. Supported values: `market_size`, `quant_insights`, `trends_and_innovations`, `transactions_mna`, `transactions_fundraising`, `transactions_ipo`, `partnerships`, `tier1_intelligence`, `case_studies`, `industry_regulations`'
                parameters:
                  type: object
                  properties:
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords to focus the analysis on (e.g. `"zero trust"`, `"SIEM"`)
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope for the report. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
                    definition:
                      type: string
                      description: A custom definition of the industry to guide the report generation
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies in the industry
              description: '[FROM OFFICIAL DOCS] Request schema from industry-deep-intelligence.md.'
              required:
                - topic
      security:
        - bearerAuth: []
  /api/enterprise/market-map/enrich/:
    post:
      tags:
        - Discovery
      summary: Market Map
      description: 'Source docs: market-map.md'
      operationId: post_api_enterprise_market-map_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/enterprise/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from market-map.md.'
                example:
                  request_id: ed2ce223-3bd2-4a08-855f-79751bf1bd92
              example:
                request_id: ed2ce223-3bd2-4a08-855f-79751bf1bd92
        '202':
          description: Company Grid Market Map-202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                  - request_id
                  - status
              example:
                request_id: ed2ce223-3bd2-4a08-855f-79751bf1bd92
                status: PENDING
      x-source-variants:
        - group_path: Discovery
          request_name: Market Map
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: The market or product category to map (e.g. `"AI-powered CRM software"`)
                parameters:
                  type: object
                  properties:
                    detailed_query:
                      type: string
                      description: A more descriptive query to refine the market map scope
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords used to identify and filter relevant companies.
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies or their complete URLs to anchor the market map.
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
                    company_type:
                      type: string
                      description: 'Type of company to include. Accepted values: `"private"`, `"public"`, `"all"`'
                    employee_count:
                      type: array
                      items:
                        type: string
                      description: 'Filter by employee headcount range. Pass an empty array to include all headcounts. Supporting array values: `1-10`, `11-50`, `51-100`, `101-250`, `251-500`, `501-1000`, `1001-5000`, `5001-10000`, `10000+`'
                    founded_year:
                      type: object
                      properties: {}
                      description: Filter by company founding year. Accepts `from` and/or `to` integer values
                    funding_stage:
                      type: array
                      items:
                        type: string
                      description: 'Filter by funding stage (e.g. `"Series A"`, `"Series B"`). Pass an empty array to include all stages. Supporting array values: `Non-Equity Assistance`, `Angel round`, `Pre-seed`, `Seed`, `Series A`, `Series B`, `Series C`, `Series D`, `Series E`, `Series F`, `Series G`, `Series H`, `Series I`, `Series J`, `Corporate-Funded`, `Debt-Funded`, `Private equity round`, `Others`'
                    total_funding:
                      type: object
                      properties: {}
                      description: Filter by total funding amount raised. Accepts `from` and/or `to` values
                    last_funding_round:
                      type: object
                      properties: {}
                      description: Filter by last funding round details. Accepts `from` and/or `to` values
                    revenue:
                      type: object
                      properties: {}
                      description: Filter by annual revenue. Accepts `from` and/or `to` values
                    ebitda:
                      type: object
                      properties: {}
                      description: Filter by EBITDA. Accepts `from` and/or `to` values
                    net_income:
                      type: object
                      properties: {}
                      description: Filter by net income. Accepts `from` and/or `to` values
                    ev_ebitda:
                      type: object
                      properties: {}
                      description: Filter by EV/EBITDA multiple. Accepts `from` and/or `to` values
              description: '[FROM OFFICIAL DOCS] Request schema from market-map.md.'
              required:
                - topic
      security:
        - bearerAuth: []
  /api/enterprise/request/cancel:
    post:
      tags:
        - Supporting APIs
      summary: Request Cancel
      description: 'Source docs: request-cancel.md'
      operationId: post_api_enterprise_request_cancel
      responses:
        '200':
          description: Successful response
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Request Cancel
      parameters:
        - name: request_id
          in: query
          required: true
          schema:
            type: string
          description: The unique identifier of request which needs to be cancelled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
              required:
                - request_id
              description: '[DERIVED FROM EXAMPLE — not authoritative] Request schema from Postman raw body.'
      security:
        - bearerAuth: []
  /api/enterprise/target-screening/enrich/:
    post:
      tags:
        - Discovery
      summary: Target Screening
      description: 'Source docs: target-screening.md'
      operationId: post_api_enterprise_target-screening_enrich
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique identifier for the request posted. Use this with the `/api/enterprise/request/status/` endpoint to check the status
                description: '[FROM OFFICIAL DOCS] Response schema from target-screening.md.'
                example:
                  request_id: 8583f59e-0412-4f1e-81e5-13cc70349cb6
              example:
                request_id: 8583f59e-0412-4f1e-81e5-13cc70349cb6
        '202':
          description: Company Grid Target Screening-202
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status:
                    type: string
                required:
                  - request_id
                  - status
              example:
                request_id: 8583f59e-0412-4f1e-81e5-13cc70349cb6
                status: PENDING
      x-source-variants:
        - group_path: Discovery
          request_name: Target Screening
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  description: Industry/ product domain. Default will be the product category of the acquiring company.
                company:
                  type: string
                  description: Permalink of the acquiring company or complete URL (e.g. `"microsoft"` OR `"https://www.microsoft.com/"`)
                parameters:
                  type: object
                  properties:
                    detailed_query:
                      type: string
                      description: A descriptive query to refine the target search scope.
                    keywords:
                      type: array
                      items:
                        type: string
                      description: Keywords used to identify and filter relevant target companies
                    sample_companies:
                      type: array
                      items:
                        type: string
                      description: Permalinks of representative companies to anchor the target search
                    geography:
                      type: array
                      items:
                        type: string
                      description: Geographic scope. It should be a comma separated list of ISO country codes. (Eg.. `["USA", "GBR"]`)
                    company_type:
                      type: string
                      description: 'Type of company to include. Accepted values: `"private"`, `"public"`, `"all"`'
                    employee_count:
                      type: array
                      items:
                        type: string
                      description: 'Filter by employee headcount range. Pass an empty array to include all headcounts. Supporting array values: `1-10`, `11-50`, `51-100`, `101-250`, `251-500`, `501-1000`, `1001-5000`, `5001-10000`, `10000+`'
                    founded_year:
                      type: object
                      properties: {}
                      description: Filter by company founding year. Accepts `from` and/or `to` integer values
                    funding_stage:
                      type: array
                      items:
                        type: string
                      description: 'Filter by funding stage (e.g. `"Series B"`, `"Series C"`). Pass an empty array to include all stages. Supporting array values: `Non-Equity Assistance`, `Angel round`, `Pre-seed`, `Seed`, `Series A`, `Series B`, `Series C`, `Series D`, `Series E`, `Series F`, `Series G`, `Series H`, `Series I`, `Series J`, `Corporate-Funded`, `Debt-Funded`, `Private equity round`, `Others`'
                    total_funding:
                      type: object
                      properties: {}
                      description: Filter by total funding amount raised (in USD). Accepts `from` and/or `to` values
                    revenue:
                      type: object
                      properties: {}
                      description: Filter by annual revenue (in USD). Accepts `from` and/or `to` values
              description: '[FROM OFFICIAL DOCS] Request schema from target-screening.md.'
              required:
                - company
      security:
        - bearerAuth: []
  /api/news/fetch/:
    post:
      tags:
        - Monitoring
      summary: '[Legacy] Fetch News Report'
      description: 'Source docs: legacy-fetch-news-report.md'
      operationId: post_api_news_fetch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ai_summary:
                          type: string
                        type:
                          type: string
                        url:
                          type: string
                        title:
                          type: string
                      required:
                        - ai_summary
                        - type
                        - url
                        - title
                required:
                  - report_id
                  - data
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in legacy-fetch-news-report.md.'
              example:
                report_id: 72053
                data:
                  - ai_summary: Wokelo has announced a minority equity investment from KPMG LLP, marking a significant step in their growth strategy.
                    type: Investments
                    url: https://kpmg.com/us/en/media/news/kpmg-wokelo-investment-2024.html
                    title: Wokelo Announces Minority Equity Investment from KPMG LLP
        '400':
          description: Fetch news
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              example:
                error: Report not found.
      x-source-variants:
        - group_path: Monitoring
          request_name: '[Legacy] Fetch News Report'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_id:
                  type: integer
                  description: Report ID of the news report from which the news is to be retrieved
                page:
                  type: integer
                  description: 'Page number from which the news is to be returned in the response. Default: 1'
                page_size:
                  type: integer
                  description: 'Number of news items per page. Default: 500'
              description: '[FROM OFFICIAL DOCS] Request schema from legacy-fetch-news-report.md.'
              required:
                - report_id
      security:
        - bearerAuth: []
  /api/news/start/:
    post:
      tags:
        - Monitoring
      summary: '[Legacy] Initiate News Report'
      description: 'Source docs: legacy-initiate-news-report.md'
      operationId: post_api_news_start
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                required:
                  - report_id
                description: '[FROM OFFICIAL DOCS] Response schema derived from example in legacy-initiate-news-report.md.'
              example:
                report_id: 2000156
        '404':
          description: Get news report
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              example:
                message: Invalid payload. permalink or website required.
      x-source-variants:
        - group_path: Monitoring
          request_name: '[Legacy] Initiate News Report'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                whitelisted_domains:
                  type: array
                  items: {}
                  description: Domains of news sources from which to fetch news
                blacklisted_domains:
                  type: array
                  items: {}
                  description: News source domains to exclude from search
                news_limit:
                  type: integer
                  description: 'Number of news items to retrieve (Default: 1000)'
                start_date:
                  type: string
                  description: 'Date from which news will be retrieved. * Default: 2 years * Format: `YYYY-MM-DD`'
                end_date:
                  type: string
                  description: 'Date till which news will be retrieved. * Default: current date * Format: `YYYY-MM-DD`'
                website:
                  type: string
                  description: Website of the target company
                permalink:
                  type: string
                  description: Crunchbase permalink of the target company
              description: '[FROM OFFICIAL DOCS] Request schema from legacy-initiate-news-report.md.'
              required:
                - website
                - permalink
      security:
        - bearerAuth: []
  /api/wkl/notebook/configuration/:
    post:
      tags:
        - Supporting APIs
      summary: Notebook Configuration
      description: 'Source docs: notebook-configuration.md'
      operationId: post_api_wkl_notebook_configuration
      responses:
        '200':
          description: Successful response
      x-source-variants:
        - group_path: Supporting APIs
          request_name: Notebook Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notebook_id:
                  type: integer
                  description: Report ID of the notebook for which the configuration is to be retrieved
              description: '[FROM OFFICIAL DOCS] Request schema from notebook-configuration.md.'
              required:
                - notebook_id
      security:
        - bearerAuth: []
  /api/workflow_manager/start/:
    post:
      tags:
        - Workflow Automation
      summary: Start a workflow (Company Research, Industry Research, Peer Comparison, or Custom).
      description: 'Merged operation for the four documented workflow-start variants. Use the `workflow` field to select the variant. Source docs: company-research.md, custom-workflows.md, industry-research.md, peer-comparison.md'
      operationId: post_api_workflow_manager_start
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
                    description: '[FROM EXAMPLE — not in formal docs schema] Report identifier returned when the workflow request succeeds.'
                description: '[FROM OFFICIAL DOCS] Response schema from company-research.md.'
                example:
                  report_id: 123345
              example:
                report_id: 123345
        '400':
          description: Company primer
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              example:
                message: Invalid payload. search query is required.
      x-source-variants:
        - group_path: Workflow Automation
          request_name: Company Research
        - group_path: Workflow Automation
          request_name: Industry Research
        - group_path: Workflow Automation
          request_name: Peer comparison
        - group_path: Workflow Automation
          request_name: Custom Workflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CompanyResearchRequest'
                - $ref: '#/components/schemas/IndustryResearchRequest'
                - $ref: '#/components/schemas/PeerComparisonRequest'
                - $ref: '#/components/schemas/CustomWorkflowRequest'
              discriminator:
                propertyName: workflow
                mapping:
                  company_primer: '#/components/schemas/CompanyResearchRequest'
                  industry_primer: '#/components/schemas/IndustryResearchRequest'
                  player_comparison: '#/components/schemas/PeerComparisonRequest'
                  industry_custom_fc44748: '#/components/schemas/CustomWorkflowRequest'
              description: '[FROM OFFICIAL DOCS] Workflow union request body.'
      security:
        - bearerAuth: []
  /auth/token/:
    post:
      tags:
        - Authentication
      summary: Login
      description: 'Source docs: authentication.md'
      operationId: post_auth_token
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT for authenticated API access
                  expires_in:
                    type: integer
                    description: Token validity duration in seconds
                  token_type:
                    type: string
                    description: Type of authentication token
                  scope:
                    type: string
                    description: Authorization scope of the token
                  refresh_token:
                    type: string
                    description: Token used to obtain a new access token
                description: '[FROM OFFICIAL DOCS] Response schema from authentication.md.'
                example:
                  access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  expires_in: 2628288
                  token_type: Bearer
                  scope: read write
                  refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expires_in: 2628288
                token_type: Bearer
                scope: read write
                refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '401':
          description: Login
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              example:
                error: invalid_client
      x-source-variants:
        - group_path: Authentication
          request_name: Login
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Client identifier
                client_secret:
                  type: string
                  description: Client secret
                username:
                  type: string
                  description: Username
                password:
                  type: string
                  description: Password
                grant_type:
                  type: string
                  description: Grant type
              description: '[FROM OFFICIAL DOCS] Multipart login form.'
              required:
                - client_id
                - client_secret
                - username
                - password
                - grant_type
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CompanyInstantEnrichmentRequest:
      type: object
      properties:
        companies:
          type: array
          items:
            type: string
          description: List of permalinks/ URLs of the companies to enrich E.g. `"tesla-motors"`, `"stripe"` OR `"https://tesla.com"`
        sections:
          type: array
          items:
            type: string
            enum:
              - firmographics
              - products
              - headcount
              - funding
              - public_company_financials
              - uk_private_company_financials
              - acquisitions
              - investments
              - website_traffic
          description: 'Sections of data to include in the enrichment. Supported values: `firmographics`, `products`, `headcount`, `funding`, `public_company_financials`, `uk_private_company_financials`, `acquisitions`, `investments`, `website_traffic` Default: all'
          minItems: 1
        parameters:
          type: object
          properties:
            custom_fields:
              type: array
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Name of the custom field. Required if `custom_fields` is used.
                  type:
                    type: string
                    description: 'Data type of the field (e.g. `text`). Supported values: `text`. Required if `custom_fields` is used.'
                  prompt:
                    type: string
                    description: Prompt used to generate the custom field value. Required if `custom_fields` is used.
              description: List of custom fields to compute for each company
      description: '[FROM OFFICIAL DOCS] Instant Enrichment variant using the instant-enrichment `sections` vocabulary.'
      required:
        - companies
        - sections
      example:
        companies:
          - tesla-motors
          - stripe
        sections:
          - firmographics
          - products
          - funding
    CompanyDeepIntelligenceRequest:
      type: object
      properties:
        companies:
          type: array
          items:
            type: string
          description: List of permalinks/ URLs of the companies (e.g. `"tesla-motors"`, `"stripe"` OR `"https://tesla.com"`)
        sections:
          type: array
          items:
            type: string
            enum:
              - products_and_services
              - product_launches
              - strategic_initiatives
              - partnerships
              - business_model
              - key_customers
              - management_profiles
              - employee_sentiment
              - product_sentiment
          description: 'Sections of data to include in the output. Supported values: `products_and_services`, `product_launches`, `strategic_initiatives`, `partnerships`, `business_model`, `key_customers`, `management_profiles`, `employee_sentiment`, `product_sentiment`'
          minItems: 1
        parameters:
          type: object
          properties:
            custom_fields:
              type: array
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Name of the custom field. Required if `custom_fields` is used.
                  type:
                    type: string
                    description: 'Data type of the field (e.g. `text`). Supported Value: `text`. Required if `custom_fields` is used.'
                  prompt:
                    type: string
                    description: Prompt used to generate the custom field value. Required if `custom_fields` is used.
              description: List of custom fields to compute for each company
      description: '[FROM OFFICIAL DOCS] Deep Intelligence variant using the deep-intelligence `sections` vocabulary.'
      required:
        - companies
        - sections
      example:
        companies:
          - tesla-motors
          - stripe
        sections:
          - products_and_services
          - product_launches
        parameters:
          custom_fields:
            - field_name: AI Readiness
              type: text
              prompt: Rate this company's AI readiness on a scale of 1-10 with reasoning
    CompanyResearchRequest:
      type: object
      properties:
        industry:
          type: string
          description: Company's industry. If not provided, Wokelo will auto-detect the industry
        permalink:
          type: string
          description: Crunchbase permalink of the company. Provide either this or `website`.
        website:
          type: string
          description: Website of the company. Provide either this or `permalink`.
        workflow:
          type: string
          description: '`company_primer`'
          enum:
            - company_primer
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report. Use `fileName` values from the file upload response
      description: '[FROM OFFICIAL DOCS] Company Research variant with workflow=`company_primer`.'
      required:
        - workflow
      example:
        workflow: company_primer
        permalink: wokelo-ai
        workbook_name: wokelo-ai
    IndustryResearchRequest:
      type: object
      properties:
        industry:
          type: string
          description: Industry on which the report will be created
        workflow:
          type: string
          description: '`industry_primer`'
          enum:
            - industry_primer
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report. Use fileName values from the file upload response
      description: '[FROM OFFICIAL DOCS] Industry Research variant with workflow=`industry_primer`.'
      required:
        - industry
        - workflow
      example:
        workflow: industry_primer
        industry: gaming
        workbook_name: Industry Research - Gaming
    PeerComparisonRequest:
      type: object
      properties:
        workflow:
          type: string
          description: '`player_comparison`'
          enum:
            - player_comparison
        websites:
          type: array
          items:
            type: string
          description: Array of company websites to compare
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
      description: '[FROM OFFICIAL DOCS] Peer Comparison variant with workflow=`player_comparison`.'
      required:
        - workflow
        - websites
      example:
        workflow: player_comparison
        websites:
          - stripe.com
          - paypal.com
        workbook_name: Test report
    CustomWorkflowRequest:
      type: object
      properties:
        workbook_name:
          type: string
          description: Name with which the workbook will be saved
        workflow:
          type: string
          description: Your workflow ID from the dashboard URL (e.g., `comp_research_f312g` from *app.wokelo.ai/dashboard/workflows/comp\_research\_f312g/*)User-defined custom workflow ID from the dashboard URL.
          pattern: ^(?!company_primer$|industry_primer$|player_comparison$).+
        permalink:
          type: string
          description: Crunchbase permalink of the company. Required for company-based workflows.
        website:
          type: string
          description: Website of the company. Required for company-based workflows.
        industry_research_topic:
          type: string
          description: '`For company workflows`: Company''s industry (optional—leaves blank to use Wokelo''s auto-detected industry) `For industry workflows`: Industry to analyze (required)'
        custom_files:
          type: array
          items:
            type: object
            properties: {}
          description: Files to include in the report—use `fileName` values from the upload response
      description: '[FROM OFFICIAL DOCS] Custom Workflow variant using a dashboard workflow ID such as `industry_custom_fc44748`.'
      required:
        - workflow
      example:
        workflow: industry_custom_fc44748
        industry_research_topic: Electric vehicles
